{% load staticfiles %}

<!DOCTYPE html>  
<html>  
<head>    
    {% block refresh %}{% endblock %}
    {% block links %}{% endblock links %}
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
    <title>{% block title %}{% endblock %}</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">

</head>  

<body>

    <nav class="navbar navbar-default navbar-fixed-top" id="main-nav">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'about_view' %}"><strong>WAYD</strong></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown {% block home-active %}{% endblock %}"><a href="{% url 'event_list_view' %}">Home</a></li>
            {% if request.user.is_authenticated %}
            <li id="noti_Container" class="dropdown request_list">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user-plus fa-lg"></i><div id="friend_request_bubble">{% if request.user.profile.friend_requests.exists %} <div id='friend_request_noti' class="noti_bubble">{{ request.user.profile.friend_requests.all | length}}</div>{% endif %}</div></a>
                <ul id="add-menu" class="dropdown-menu add-menu">
                    <li><a><b>Friends</b></a></li>
                    <li role="separator" class="divider"></li>
                    {% if request.user.profile.friend_requests.exists %} 
                        {% for friend_request in request.user.profile.friend_requests.all %}
                            <li class="hz" id='li-{{ friend_request.pk }}'>
                              <a href='#' id="rejection-{{ friend_request.pk }}" class="reject-button" alt="{{ friend_request.pk }}"><i class="fa fa-times red" id="times-{{friend_request.pk}}" alt="{{ friend_request.pk }}"></i></a>
                              <a href="{% url 'profile_detail_view' friend_request.pk %}">{{ friend_request }}</a>
                              <a href='#' id="addition-{{ friend_request.pk }}" class="add-button" alt="{{ friend_request.pk }}"><i class="fa fa-check green" id="check-{{friend_request.pk}}" alt="{{ friend_request.pk }}"></i></a>
                            </li>
                        {% endfor %}
                    {% else %}
                      <li><a>No friend requests!</a></li>
                    {% endif %}
                    <li role="separator" class="divider"></li>
                    <li><a href="{% url 'search_profiles' %}">Search for people</a></li>
                    <li><a href="{% url 'friend_list' %}">See all of your friends</a></li>
                     
              </ul>
            </li>
            <li class="dropdown {% block groups-active %}{% endblock %}">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-users fa-lg"></i><div id="group_request_bubble">{% if request.user.profile.group_requests.exists %} <div id='group_request_noti' class="noti_bubble">{{ request.user.profile.group_requests.all | length}}</div>{% endif %}</div></a>
              <ul class="dropdown-menu group-add-menu">
                <li><a><b>Groups</b></a></li>
                <li role="separator" class="divider"></li>
                {% if request.user.profile.group_requests.exists %} 
                  {% for group in request.user.profile.group_requests.all|slice:"0:5" %}
                          <li class="hz" id='group-li-{{ group.pk }}'>
                            <a href='#' id="rejection-group-{{ group.pk }}" class="reject-button" alt="{{ group.pk }}"><i class="fa fa-times red" id="times-{{group.pk}}" alt="{{ group.pk }}"></i></a>
                            <a href="{% url 'profile_detail_view' group.pk %}">{{ group }}</a>
                            <a href='#' id="addition-group-{{ group.pk }}" class="add-button" alt="{{ group.pk }}"><i class="fa fa-check green" id="check-{{group.pk}}" alt="{{ group.pk }}"></i></a>
                          </li>
                      {% endfor %}
                  {% else %}
                    <li><a>No group requests!</a></li>
                  {% endif %}
                <li role="separator" class="divider"></li>
                <li><a href="{% url 'group_list_view' %}">See all of your groups</a></li>
                <!--<li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>-->
              </ul>
            </li>
            <li class="dropdown icon_list">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bell fa-lg"></i><div id="notification_request_bubble">{% if request.user.profile.unread_notifications.exists %} <div id='notification_request_count' class="noti_bubble">{{ request.user.profile.unread_notifications | length}}</div>{% endif %}</div></a>
                <ul id="notification-menu" class="dropdown-menu notification-menu">
                            <li><a href="{% url 'full_notifications' %}"><b>Notifications</b></a></li>
                            <li role="separator" class="divider"></li>
                    {% if request.user.profile.unread_notifications.exists %} 

                        {% for notification in request.user.profile.unread_notifications %}
                            <li class="hz" id='notif-{{ notification.pk }}' alt="{{notification.pk}}">
                              {% if notification.notification_type == 'Friend Request' %}
                              <a class="clear-button" id="clear-link-{{notification.pk}}" href="{% url 'profile_detail_view' notification.sender_pk %}" alt="{{ notification.pk }}">{{ notification.message|safe }}</a>
                              <a class="clear-button" id="fun" alt="{{ notification.pk }}"><i class="fa fa-check green" id="clear-check-{{notification.pk}}" alt="{{ notification.pk }}" alt="{{ notification.pk }}"></i></a>
                              {% elif 'Group' in notification.notification_type %}
                              <a class="clear-button" id="clear-link-{{notification.pk}}" href="{% url 'group_event_list' notification.sender_pk %}" alt="{{ notification.pk }}">{{ notification.message|safe }}</a>
                              <a class="clear-button" id="fun" alt="{{ notification.pk }}"><i class="fa fa-check green" id="clear-check-{{notification.pk}}" alt="{{ notification.pk }}" alt="{{ notification.pk }}"></i></a>
                              {% elif 'event' in notification.notification_type|lower %}
                              <a id="clear-link-{{notification.pk}}" {% if 'Cancelled' not in notification.notification_type %}class="clear-button" href="{% url 'event_detail_view' notification.sender_pk %}{% if 'comment' in notification.notification_type|lower %}#comment-section{% endif %}"{% endif %} alt="{{ notification.pk }}">{{ notification.message|safe }}</a>
                              <a class="clear-button" id="fun" alt="{{ notification.pk }}"><i class="fa fa-check green" id="clear-check-{{notification.pk}}" alt="{{ notification.pk }}" alt="{{ notification.pk }}"></i></a>
                              {% endif %}
                            </li>
                        {% endfor %}
                        <span id='notifs'></span>
                    {% else %}
                      <li><a>No notifications!</a></li>
                    {% endif %}
                    <li role="separator" class="divider"></li>
                  <li><a href="{% url 'full_notifications' %}">See all your notifications</a></li>
              </ul>
            </li>
            <li class="dropdown {% block user_active %}{% endblock %}">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{request.user.profile.first_name}}<span class="caret"></span></a>
              <ul class="dropdown-menu">
                        <li><a href="{% url 'profile_detail_view' request.user.profile.pk %}">Your profile</a></li>
                        <li><a href="{% url 'friend_list' %}">Your friends</a></li>
                        <li><a href="{% url 'group_list_view' %}">Your groups</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{% url 'logout_view' %}"><b>Log out</b> {{request.user.profile}}</a></li>
                    
              </ul>
            </li>
            {% endif %}
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <br>
    <br>
    <br>
    <br>
    {% if not no_footer %}
    <div class="wrapper">
    {% endif %}
      {% block body %}
      {% endblock %}
      {% if not no_footer %}
      <div class="push"></div>
    </div>
     {% endif %}
  
  <p id="profile-pk" class="hidden">{{request.user.profile.pk}}</p>

<!-- +++++ Footer Section +++++ -->
  {% if not no_footer %}
    <footer>
      <div id="footer">
          <div class="container">
              <div class="row">
                  <div class="col-sm-4">
                      <h4>Got Feedback? Get in touch here</h4>
                      <a href="{% url 'contact_view' %}">Contact us</a>
                  </div><!-- /col-sm-4 -->
                  <div class="col-sm-4">
                      <h4>Download the App!</h4>
                      <p>
                          <a href="#">App Store</a><br/>
                      </p>
                  </div><!-- /col-sm-4 -->
                  <div class="col-sm-4">
                      <h4>About <strong>WAYD</strong></h4>
                      <a href="{% url 'about_view' %}">Read on here</a>
                  </div><!-- /col-sm-4 -->
              </div>
          </div>
      </div>
    </footer>
  {% endif %}
  
    <script src="{% static 'js/jquery-ui.js' %}"></script>
    <script src="{% static 'js/jquery.timepicker.min.js' %}"></script>
    <script src="{% static 'location_picker/location_picker.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>  
    <script type="text/javascript" src="{% static 'js/moment.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/custom.js' %}"></script>
    {% block scripts %}{% endblock scripts %}


    <script>
    $(function() {
        $(".dropdown").hover(
            function(){ $(this).addClass('open') },
            function(){ $(this).removeClass('open') }
        );
    });
</script>
</body>

</html>  