{% extends 'base.html' %}

{% block body %}
<br>
<br>
<br>
<div class="container">
    <div class="row">
        <h1 class="text-center">Contact Us</h1>
        <h3 class="text-center">We love your feedback. Please give us any suggestions for features, or report any issues that you notice!</h3>
        <br>
        <form action="{% url 'contact_view' %}" enctype="multipart/form-data" method="POST" >
        {% csrf_token %} 
            <div class="col-sm-6">
                Author: {{ form.author }}
                Email: {{ form.email }}
            </div>
            <div class="col-sm-6">
                Comment: {{ form.comment }}
            </div>

            <div class="col-sm-8 col-sm-offset-2"><br>
                <input class="form-control" type="submit" value="Send!">
            </div>
        </form>
        <br>
    </div>
    <div class="red">
        {{ errors }}
    </div>

</div>

{% endblock %}
