{% extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}

{% block refresh %}<meta http-equiv="refresh" content="120"><link rel="stylesheet" type="text/css" href="{% static 'css/popup.css' %}">{% endblock %}



{% block title %}{{ event }}{% endblock title %}


{% block body %}

<div class="main">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-md-offset-1">
            <br>
                    <a href="{% url 'profile_detail_view' event.host.first.pk %}">

                    {% thumbnail  event.host.first.picture "200x200" crop="center" as im %}
                        <img src="{{ im.url }}" alt="port-1" class="port-item" width="80" height="80" style="border-radius: 40px; float:left; margin-top: 6px; margin-right: 6px;">
                    {% endthumbnail %}
                    </a><h1><b>{{ event.name|upper}}</b></h1>
                    <h5 class="georgia" style="margin-left: 10px;">Hosted by {% for host in event.host.all %}{% if host == request.user.profile %}<strong class='black'>You</strong>{% else %}{{host}}{% endif %}{% if not forloop.last %}, {% endif %}{% endfor %}</h5>
                    <br>
                    {% if event.description %}
                        <h4 class="georgia">{{ event.description }}</h4>
                    {% endif %}
                    <div class="row">
                        <div class="col-xs-1 text-center col-xs-offset-1">
                            <i class="fa fa-clock-o fa-2x" style="margin-top: 13px; margin-left: 1px;"></i>
                        </div>
                        <div class="col-xs-9">
                            <span class="hidden" id="rawdate">{{ event.date_happening|date:"c" }}T{{ event.time_starting|time:"H:i" }}:00.000000+00:00</span>
                            <span class="hidden" id="rawdate-end">{{ date_ending }}</span>
                            <h5 style="margin-bottom: -5px" id="date-happens">{{ event.date_happening }}</h5>
                            <h5 id="from-time">From {{ event.time_starting }} to {{ event.time_ending }}</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-1 text-right  col-xs-offset-1" style="margin-top: 6px;">
                            <i class="fa fa-map-marker fa-2x"></i>
                        </div>
                        <div class="col-xs-9">
                            <h5>{{ event.location }}</h5>
                        </div>
                    </div>
                    <br>
                    <iframe id="google-map" width="100%" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?hl=en&amp;ie=UTF8&amp;q={{ event.test_location }}&amp;t=m&amp;z=16&amp;output=embed"></iframe>
                    
                    <h6>Posted <span class='date-posted'>{{ event.date_posted|date:"c" }}</span></h6>
                    

                    <span id="comment-section"/>
                    <h3><a class="btn btn-primary popup-mini" href="{% url 'share_buttons' event.pk %}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SHARE&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>&nbsp;&nbsp;<a class="btn btn-danger popup-mini" href="{% url 'calendar_buttons' event.pk %}">ADD TO CALENDAR</a></h3>
            </div>
            <div class="col-md-5 col-md-offset-1">
                    <br>
                    <br>
                    <br>
                    {% if request.user.profile in event.host.all %}
                    <div style="float:left;">                    
                        <a class="btn btn-primary" href="{% url 'event_update_view' event.pk %}">EDIT YOUR EVENT</a>&nbsp;&nbsp;<a class="btn btn-danger delete-button" href="{% url 'event_delete_view' event.pk %}" id="{{ event }}">DELETE YOUR EVENT</a>
                    </div>
                    {% else %}
                    <div class="event-detail-buttons">
                        {% if request.user.profile in event.people_coming.all %}
                            <span class="green stan"><i class="fa fa-check-circle" id='icon-{{event.pk}}' alt="{{event.pk}}"></i>&nbsp;&nbsp;You're going!</span>&nbsp;&nbsp;<a class="btn btn-danger cancel-decision" id="reject-button-{{event.pk}}" alt="{{event.pk}}"  href="#"><i class="fa fa-times-circle" id='icon-{{event.pk}}' alt="{{event.pk}}"></i>&nbsp;&nbsp;Back out...</a>
                        {% elif request.user.profile in event.people_not_coming.all %}
                            <span class="red stan"><i class="fa fa-times-circle" id='icon-{{event.pk}}' alt="{{event.pk}}"></i>&nbsp;&nbsp;You're not going...</span>&nbsp;&nbsp;<a class="btn btn-success cancel-decision" id="confirm-button-{{event.pk}}" alt="{{ event.pk }}"  href="#"><i class="fa fa-check-circle" id='icon-{{event.pk}}' alt="{{event.pk}}"></i>&nbsp;&nbsp;Cancel</a>
                        {% else %}
                            <a class="btn btn-success confirm-can-come" alt="{{event.pk}}" id="confirm-button-{{event.pk}}" href="#"><i class="fa fa-check-circle" id='icon-{{event.pk}}' alt="{{event.pk}}"></i>&nbsp;&nbsp;Count me in!</a>&nbsp;&nbsp;<a class="btn btn-danger confirm-cannot-come" alt="{{event.pk}}" id="reject-button-{{event.pk}}" href="#"><i class="fa fa-times-circle" id='icon-{{event.pk}}' alt="{{event.pk}}"></i>&nbsp;&nbsp;Can't make it!</a>
                        {% endif %}
                    </div>
                    {% endif %}
                    <br>
                    <br>
                    <br>
                    <h4 class="georgia">This event is <strong>{% if event.public %}public{% else %}private{% endif %}!</strong></h4>
                    <h2 style="margin-top: 25px; ">WHO'S COMING: </h2>
                    {% if event.people_coming.count > 0 %}
                        {% for person in event.people_coming.all %}
                            <a class="tooltipped" href="{% url 'profile_detail_view' person.pk %}" data-placement="top" data-toggle="tooltip" title="{{ person }}">
                            {% thumbnail  person.picture "200x200" crop="center" as im %}
                                <img src="{{ im.url }}" class="port-item" width="60" height="60" style="border-radius: 30px;" alt="{{ person }}">
                            {% endthumbnail %}
                            </a>&nbsp;
                        {% endfor %}
                    <br>
                    {% else %}
                        <h5>No one has confirmed yet!</h5>
                    {% endif %}
                    <h2>CAN'T MAKE IT: </h2>
                    {% if event.people_not_coming.count > 0 %}
                        {% for person in event.people_not_coming.all %}
                            <a class="tooltipped" href="{% url 'profile_detail_view' person.pk %}" data-placement="top" data-toggle="tooltip" title="{{ person }}">
                            {% thumbnail  person.picture "200x200" crop="center" as im %}
                                <img src="{{ im.url }}" class="port-item" width="60" height="60" style="border-radius: 30px;" alt="{{ person }}">
                            {% endthumbnail %}
                            </a>&nbsp;
                        {% endfor %}
                    <br>
                    <br>
                    {% else %}
                        <h5>No one has turned us down yet!</h5>
                    {% endif %}
                    <h2>INVITED: </h2>
                    {% if invitees.count > 0 %}
                        {% for person in invitees|slice:"0:4" %}
                            <a class="tooltipped" href="{% url 'profile_detail_view' person.pk %}" data-placement="top" data-toggle="tooltip" title="{{ person }}">
                            {% thumbnail  person.picture "200x200" crop="center" as im %}
                                <img src="{{ im.url }}" class="port-item" width="60" height="60" style="border-radius: 30px;" alt="{{ person }}">
                            {% endthumbnail %}
                            </a>&nbsp;
                        {% endfor %}
                    {% endif %}
                        &nbsp;
                        <a class="black popup tooltipped" href="{% url 'invite_friends_to_event_view' event.pk %}" data-placement="top" data-toggle="tooltip" title="Invite more friends!">
                        <img class="tiny-thumb" src="{% static 'img/add-icon.svg' %}">
                        </a>
                    <br>
                    <br>
                    
                    <!--<div style="width: 100%; overflow: hidden; height: 300px;">
                        <iframe width="100%" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" style="border:0; margin-top: -150px;" src="http://maps.google.com/maps?hl=en&amp;ie=UTF8&amp;q={{event.test_location}}&amp;spn=56.506174,79.013672&amp;t=m&amp;z=16&amp;output=embed"></iframe>
                    </div>-->

                        
                    {% if event.groups.all %}
                        <h4>Groups:</h4>
                        {% for group in event.groups.all %}
                            <a href="{% url 'group_event_list' group.pk %}">{{ group }}</a>{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    {% endif %}
                    <br>
                    <br>
                    {% if event.shareable or request.user.profile in event.host.all %}
                        <a href="{% url 'invite_friends_to_event_view' event.pk %}" class="btn btn-success popup">INVITE FRIENDS TO THIS EVENT</a>
                    {% endif %}
                    <br>

            </div>
        </div>
        <br>
        <div class="row" style="background: rgba(0, 0, 0, 0.1);">
            <div class="col-md-10 col-md-offset-1">
                <div id="comments">
                    <h3>Comments</h3>

                    {% for comment in comments %}
                        {% if not comment.comment_in_response_to %}
                        <div class="comment event-comment">
                        <div id="{{comment.id}}">
                        <strong id="{{comment.id}}author">{{comment.author}}</strong>

                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                        <small><span class='date-posted'>{{ comment.date_posted|date:'c' }}</span>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                        <a href="#comment-form" alt="{{ comment.pk }}" class="reply-link">Reply</a>
                        {% if request.user.profile == comment.author %}
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="delete-button" id="your comment" href="{% url 'comment_delete_view' comment.pk %}"><i class='fa fa-times'></i>&nbsp;&nbsp;&nbsp;Delete your comment</a>
                        {% endif %}
                        </small>
                        <p>
                            {{ comment.message }}
                        </p>
                        </div>
                        </div>
                        {% if comment.replies %}
                            {% for child in comment.replies.all %}
                                <div class="comment event-comment-reply">
                                    <strong>{{child.author}}</strong>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <small><span class='date-posted'>{{ child.date_posted|date:'c' }}</span>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    {% if request.user.profile == child.author %}
                                    <a class="delete-button" id="your comment" href="{% url 'comment_delete_view' child.pk %}"><i class='fa fa-times'></i>&nbsp;&nbsp;&nbsp;Delete your comment</a>{% endif %}</small><br>
                                    <p>{{ child.message }}</p>
                                </div>
                            {% endfor %}
                        {% endif %}
                        {% endif %}
                    {% endfor %}
                    <br>
                    <form action="{% url 'event_detail_view' event.pk %}" method="POST" id='comment-form'>
                        {% csrf_token %}
                        {{form.message.label}}<strong id="replying-to"></strong><br>
                        {{form.message}}
                        <input type="text" class="hidden" value='' name="reply-pk" id='reply-pk'>
                        <br>
                        <input class="form-control" type="submit" value="Comment">
                    </form>
                    
                </div>
            </div>
        </div>
        <br>
    </div>
</div>

<script src="{% static 'js/jquery.popup.min.js' %}"></script>

{% endblock %}  

                    
