{% extends 'base.html' %}

{% block title %}Your Notifications{% endblock title %}

{% block refresh %}<meta http-equiv="refresh" content="120">{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
    <h1 class="text-center">Notifications</h1>
        <div class="col-md-6">
            <h3 class="text-center">Notifications</h3>
            <hr>
            {% for notification in request.user.profile.notifications.all|slice:"0:20" %}
                <div id="notif-row-{{notification.pk}}" class="row notification-item {% if not notification.read %}unread{% endif %}">
                    <div class="col-xs-1 text-center">
                        {% if 'Friend' in notification.notification_type %}
                            <i class='fa fa-user-plus fa-lg' style='margin-top: 10px;'></i>
                        {% elif 'Group' in notification.notification_type %}
                            <i class='fa fa-users fa-lg' style='margin-top: 10px;'></i>
                        {% elif 'Event' in notification.notification_type %}
                            {% if 'location' in notification.message %}
                                <i class='fa fa-map-marker fa-lg' style='margin-top: 10px;'></i>
                            {% elif 'cancelled' in notification.message %}
                                <i class='fa fa-ban fa-lg' style='margin-top: 10px;'></i>
                            {% else %}
                                <i class='fa fa-calendar fa-lg' style='margin-top: 10px;'></i>
                            {% endif %}
                        {% elif 'Reply' in notification.notification_type %}
                            <i class='fa fa-comments fa-lg' style='margin-top: 10px;'></i>
                        {% elif 'Comment' in notification.notification_type %}
                            <i class='fa fa-comment fa-lg' style='margin-top: 10px;'></i>
                        {% elif 'Confirm' in notification.notification_type %}
                            <i class='fa fa-check-square-o fa-lg' style='margin-top: 10px;'></i>
                        {% elif 'Shared' in notification.notification_type %}
                            <i class='fa fa-share-square-o fa-lg' style='margin-top: 10px;'></i>
                        {% elif 'Following' in notification.notification_type %}
                            <i class='fa fa-star-o fa-lg' style='margin-top: 10px;'></i>
                        {% elif 'Invited' in notification.notification_type %}
                            <i class='fa fa-envelope-o fa-lg' style='margin-top: 10px;'></i>
                        {% endif %}
                    </div>
                    <div class="col-xs-8">
                        <a href="{% if 'Friend' in notification.notification_type %}{% url 'profile_detail_view' notification.sender_pk %}{% elif 'Group' in notification.notification_type %}{% url 'group_member_view' notification.sender_pk %}{% elif 'event' in notification.notification_type|lower and 'Cancelled' not in notification.notification_type %}{% url 'event_detail_view' notification.sender_pk %}{% endif %}">
                        <h5>{{notification|safe}}</h5></a>
                    </div>
                    <div class="col-xs-3 text-right notification-menu">
                        {% if not notification.read %}
                            <a id="notif-clear-button-{{notification.pk}}" style="float: left; margin-top: 7px;" class="clear-button" alt="{{ notification.pk }}"><i class="fa fa-check-circle green" id="clear-check-{{notification.pk}}" alt="{{ notification.pk }}"></i></a>
                        {% endif %}
                        <h6 class='date-posted'>{{ notification.date_notified|date:"c" }}</h6>
                    </div>
                    
                    
                </div>
            {% endfor %}
        </div>
        <div class="col-md-3">
            <h3 class="text-center">Friend Requests</h3>
            <hr>
            <ul class="add-menu no_bullet">
            {% if friend_requests %}
            {% for new_request in friend_requests %}
                <li class="hz no_bullet" id='notif-friend-li-{{ new_request.pk }}'>
                  <a href='#' id="rejection-{{ new_request.pk }}" class="reject-button" alt="{{ new_request.pk }}"><i class="fa fa-times red" id="times-{{new_request.pk}}" alt="{{ new_request.pk }}"></i></a>
                  <a href="{% url 'profile_detail_view' new_request.pk %}">{{ new_request }}</a>
                  <a href='#' id="addition-{{ new_request.pk }}" class="add-button" alt="{{ new_request.pk }}"><i class="fa fa-check green" id="check-{{new_request.pk}}" alt="{{ new_request.pk }}"></i></a>
                </li>
            {% endfor %}
            {% else %}
                <li class="no_bullet">No friend requests!</li>
            {% endif %}
            </ul>
        </div>
        <div class="col-md-3 group-add-menu no_bullet">
            <h3 class="text-center">Group Requests</h3>
            <hr>
            {% if group_requests %}
                {% for new_request in group_requests %}
                <div id="notif-group-div-{{ new_request.pk }}">
                  <a href="{% url 'group_member_view' new_request.pk %}">{{ new_request }}</a><br>
                  <a href='#' id="addition-{{ new_request.pk }}" class="add-button" alt="{{ new_request.pk }}"><i class="fa fa-check green" id="check-{{new_request.pk}}" alt="{{ new_request.pk }}"></i>&nbsp;Join</a>&nbsp;&nbsp;&nbsp;&nbsp;
                  <a href='#' id="rejection-{{ new_request.pk }}" class="reject-button red" alt="{{ new_request.pk }}"><i class="fa fa-times red" id="times-{{new_request.pk}}" alt="{{ new_request.pk }}"></i>&nbsp;Decline</a>
                </div>
                {% endfor %}
            {% else %}
                No group requests!
            {% endif %}
        </div>
    </div>
        <br>

</div>


{% endblock %}
