{% extends 'base.html' %}
{% load addcss %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h2>Edit {{ group }}</h2>
            <p class="green">{{ saved }}</p>
            <h4>{{ saved }}</h4>
            <form action="{% url 'group_update_view' group.pk %}" enctype="multipart/form-data" method="POST" >
                {% csrf_token %}    
                Name:
                {{ form.name|addcss:"form-control" }}
                Members of {{ group }}:
                <div class="overflow form-control">{{ form.members }}</div>
                People invited to {{ group.name }}:
                <div class="overflow form-control">{{ form.member_requests }}</div>
                Admins <small>(besides yourself, of course)</small>:
                <div class="overflow form-control">{{ form.admin }}</div>
                <br>
                <div class="red text-center"><p>{{ errors }}</p></div>    

                <input class="form-control" type="submit" value="Save {{ group }}" />

            </form>
        </div>
    </div>
</div>

{% endblock %}