{% extends 'base.html' %}
{% load addcss %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <h2>Edit {{ group }}</h2>
            <p class="green">{{ saved }}</p>
            <h4>{{ saved }}</h4>
            <form action="{% url 'group_update_view' group.pk %}" enctype="multipart/form-data" method="POST" >
                {% csrf_token %}    
                Name:
                {{ form.name|addcss:"form-control" }}
                Members of {{ group }}:
                <div class="overflow form-control">{{ form.members }}</div>
                Admins <small>(besides yourself, of course)</small>:
                <div class="overflow form-control">{{ form.admin }}</div>
                <br>
                <div class="red text-center"><p>{{ errors }}</p></div>    

                
                <div class="row">
                    <div class="col-sm-4 col-sm-offset-2">
                        <input class="form-control btn-default" type="submit" value="Save and finish" name="_finish" />
                    </div>
                    <div class="col-sm-4 ">
                        <input class="form-control btn-default" type="submit" value="Save and continue editing" name="_continue"/>            
                    </div>
                </div>
                <br>
            </form>
        </div>
    </div>
</div>

{% endblock %}