{% extends 'base.html' %}
{% load staticfiles %}
{% load values_list %}

{% block refresh %}<meta http-equiv="refresh" content="120">
<link rel="stylesheet" type="text/css" href="{% static 'css/popup.css' %}">{% endblock %}

{% block title %}{{ group }} Events{% endblock title %}

{% block body %}
<div class="main">
    <div class="container">
        <div class="row">
            
            <h1 class="text-center bold">{{ group }}</h1>
            <br>
            <div class="col-md-8">
                 <h3 class="text-center bold">Event Feed for this group</h3>
                <h5 style="float: left;" class="text-left"><strong>Current date: </strong><span id="current-date">{{ today |date:"c"}}</span></h5>
                <a style="float: right;" href="{% url 'event_list_view' %}" class="btn btn-default {% if not order %}active{% endif %}">Order by event date</a><a style="float: right;" href="{% url 'event_list_view' %}?order=date_posted" class="btn btn-default {% if order %}active{% endif %}">Order by date posted</a>&nbsp;&nbsp;<br>
                    <br style="clear:both;"/>
                    <hr style="margin-bottom: 0">
                 

                {% if events|length > 0 %}
                    <div class="main-event-feed">
                {% for event in events %}
                    <div class="event-detail" id="event-detail-{{ event.pk }}">
                        {% if request.user.profile in event.host.all %}
                            <br>
                            <a href="{% url 'profile_detail_view' event.host.first.pk %}"><img style="max-height: 40px; max-width: 40px; border-radius: 20px; float:left" src="{{event.host.first.picture.url}}"></a>
                            <h4 style="float: left;"><strong class='black'>&nbsp;{% for host in event.host.all %}{% if host == request.user.profile %}You{% else %}{{host}}{% endif %}{% if not forloop.last %}, {% endif %}{% endfor %}</strong>{% if event.groups.all %} in {% for group in event.groups.all %}<a href="{% url 'group_event_list' group.pk %}">{{ group }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}{% endif %}</h4>
                            <h5 class="darkgrey" style="float: right;">Posted <span class='date-posted'>{{ event.date_posted|date:"c" }}</span></h5> 
                            <div class="row" style="clear:both;">
                            
                                <h2 class="text-center"><a href="{% url 'event_detail_view' event.pk %}">{{ event.name }}</a></h2>
                                <div class="col-md-7">
                                    <h4 class="date-starting">{{ event.date_happening|date:"c" }}T{{ event.time_starting|time:"H:i" }}:00.000000+00:00</h4>
                                </div>
                                <div class="col-md-5 text-right">
                                    <br>
                                    <h5>{{ event.description }}</h5>
                                </div>
                            </div>
                            <div class="text-center green">
                                <h4>This is your event!</h4>
                            </div>
                            <br>
                            </div>
                        {% else %}
                        {% if request.user.profile in event.people_coming.all %}
                            <br>
                            <a href="{% url 'profile_detail_view' event.host.first.pk %}"><img style="max-height: 40px; max-width: 40px; border-radius: 20px; float:left" src="{{event.host.first.picture.url}}"></a>
                            <h4 style="float: left;"><strong class='black'>&nbsp;{% for host in event.host.all %}{% if host == request.user.profile %}You{% else %}{{host}}{% endif %}{% if not forloop.last %}, {% endif %}{% endfor %}</strong>{% if event.groups.all %} in {% for group in event.groups.all %}<a href="{% url 'group_event_list' group.pk %}">{{ group }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}{% endif %}</h4>
                            <h5 class="darkgrey" style="float: right;">Posted <span class='date-posted'>{{ event.date_posted|date:"c" }}</h5> 
                            <br style="clear:both;">
                            {% if request.user.profile in event.people_who_shared_it.all %}
                                <p><strong>You</strong> shared this event!</p>
                            {% elif request.user.profile not in event.host.all and not groups_in|intersection:event.groups.all and not friends_pk|intersection:event.host.all %}
                                    <p>shared by {% for sharer in event.people_who_shared_it.all %}<a href="{% url 'profile_detail_view' sharer.pk %}">{{sharer.first_name}}</a>{% if not forloop.last %}, {% endif %}
                                    {% endfor %}</p>
                            {% endif %}
                            <h2 class="text-center"><a href="{% url 'event_detail_view' event.pk %}">{{ event.name }}</a></h2>
                            <div class="row">
                                <div class="col-md-4">
                                    <h4 class="date-starting">{{ event.date_happening|date:"c" }}T{{ event.time_starting|time:"H:i" }}:00.000000+00:00</h4>
                                    <h5>People coming: {{ event.people_coming.count}}</h5>
                                    <h5>People not coming: {{ event.people_not_coming.count}}</h5>
                                </div>
                                <div class="col-md-8 text-right">
                                    <h3>{{ event.description }}</h3>
                                </div>
                            </div>
                            <a class="btn btn-default" alt="{{event.pk}}"  href="{% url 'event_detail_view' event.pk %}">More details...</a>
                            <div class="text-right" style="float:right;">
                                <span class="green stan"><i class="fa fa-check-circle" id='icon-{{event.pk}}' alt="{{event.pk}}"></i>&nbsp;&nbsp;You're going!</span>&nbsp;&nbsp;
                                <a class="btn btn-danger cancel-decision" id="reject-button-{{event.pk}}" alt="{{event.pk}}"  href="#"><i class="fa fa-times-circle" id='icon-{{event.pk}}' alt="{{event.pk}}"></i>&nbsp;&nbsp;Back out...</a>
                            </div>
                            <br><br>
                        {% elif request.user.profile in event.people_not_coming.all %}
                            <br>
                            <a href="{% url 'profile_detail_view' event.host.first.pk %}"><img style="max-height: 40px; max-width: 40px; border-radius: 20px; float:left" src="{{event.host.first.picture.url}}"></a>
                            <h4 style="float: left;" class='darkgray'><strong>&nbsp;{% for host in event.host.all %}{{host.first_name}}{% if not forloop.last %}, {% endif %}{% endfor %}</strong></h4>
                            <div class="text-right" style="float:right">
                                <span class="red stan"><i class="fa fa-times-circle" id='icon-{{event.pk}}' alt="{{event.pk}}"></i>&nbsp;&nbsp;You're not going...</span><br><br>
                                <a class="btn btn-sm btn-success cancel-decision" id="confirm-button-{{event.pk}}" alt="{{ event.pk }}"  href="#"><i class="fa fa-check-circle" id='icon-{{event.pk}}' alt="{{event.pk}}"></i>&nbsp;&nbsp;Cancel</a>
                            </div>
                            <h2 class="text-center darkgray"><a style="color: #424242" href="{% url 'event_detail_view' event.pk %}">{{event.name}}</a></h2>
                            <h5 style="color: darkgray" class="text-left date-starting">{{ event.date_happening|date:"c" }}T{{ event.time_starting|time:"H:i" }}:00.000000+00:00</h5>
                            {% if request.user.profile in event.people_who_shared_it.all %}
                                    <p><strong>You</strong> shared this event!</p>
                            {% elif request.user.profile not in event.host.all and not groups_in|intersection:event.groups.all and not friends_pk|intersection:event.host.all %}
                                    <p>shared by {% for sharer in event.people_who_shared_it.all %}<a href="{% url 'profile_detail_view' sharer.pk %}">{{sharer.first_name}}</a>{% if not forloop.last %}, {% endif %}
                                    {% endfor %}</p>
                            {% endif %}
                            {% else %}
                                <br>
                                <a href="{% url 'profile_detail_view' event.host.first.pk %}"><img style="max-height: 40px; max-width: 40px; border-radius: 20px; float:left" src="{{event.host.first.picture.url}}"></a>
                                <h4 style="float: left;"><strong class='black'>&nbsp;{% for host in event.host.all %}{% if host == request.user.profile %}You{% else %}{{host}}{% endif %}{% if not forloop.last %}, {% endif %}{% endfor %}</strong>{% if event.groups.all %} in {% for group in event.groups.all %}<a href="{% url 'group_event_list' group.pk %}">{{ group }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}{% endif %}</h4>
                                <h5 class="darkgrey" style="float: right;">Posted <span class='date-posted'>{{ event.date_posted|date:"c" }}</h5> 
                                <div class="row" style="clear:both;">
                                {% if request.user.profile in event.people_who_shared_it.all %}
                                    <p>&nbsp;&nbsp;&nbsp;<strong>You</strong> shared this event!</p>
                                {% elif request.user.profile not in event.host.all and not groups_in|intersection:event.groups.all and not friends_pk|intersection:event.host.all %}
                                        <p>&nbsp;&nbsp;&nbsp;shared by {% for sharer in event.people_who_shared_it.all %}<a href="{% url 'profile_detail_view' sharer.pk %}">{{sharer.first_name}}</a>{% if not forloop.last %}, {% endif %}
                                        {% endfor %}</p>
                                {% endif %}
                                    
                                    <h2 class="text-center"><a href="{% url 'event_detail_view' event.pk %}">{{ event.name }}</a></h2>
                                    <div class="col-md-7">
                                        <h4 class="date-starting">{{ event.date_happening|date:"c" }}T{{ event.time_starting|time:"H:i" }}:00.000000+00:00</h4>
                                    </div>
                                    <div class="col-md-5 text-right">
                                    <h5>{{ event.description }}</h5>
                                </div>
                                </div>
                                <a class="btn btn-default" alt="{{ event.pk }}"  href="{% url 'event_detail_view' event.pk %}">More details...</a>
                                <div class="text-right" style="float:right;">
                                    <a class="btn btn-success confirm-can-come" alt="{{event.pk}}" id="confirm-button-{{event.pk}}" href="#"><i class="fa fa-check-circle" id='icon-{{event.pk}}' alt="{{event.pk}}"></i>&nbsp;&nbsp;Count me in!</a>&nbsp;
                                    <a class="btn btn-danger confirm-cannot-come" alt="{{event.pk}}" id="reject-button-{{event.pk}}" href="#"><i class="fa fa-times-circle" id='icon-{{event.pk}}' alt="{{event.pk}}"></i>&nbsp;&nbsp;Can't make it!</a>
                                </div>
                            <br><br>

                            {% endif %}
                        <br>
                    </div>
                        {% endif %}
                {% endfor %}
                    </div>
                    <hr style="margin-bottom: 0">
                    <h2 class="text-center" style="color: lightgray;"><i class='fa fa-arrow-down'></i></h2>
                    </div>
                {% else %}
                    <h3>You have no events in your feed yet! Add some new friends or follow some groups to see some. If it's your first time here, be sure to check out the <a href="{% url 'about_view' %}">about page</a> for more about WAYD.</h3>
                    <br>
                    <h4 class="text-center"><a class="btn btn-primary form-control popup" href="/ajax/facebook_friends/"><i class='fa fa-facebook'></i>&nbsp;&nbsp;Find your Facebook friends on WAYD</a></h4>
                    
                    <h4><a class="btn btn-primary form-control" href="{% url 'search_profiles' %}">Search for friends</a></h4>
                    </div>
                {% endif %}
                <div id="group-detail">
            <div class="col-md-4 affix-group" id="sidebar">
                <a class="btn" href = "{% url 'event_create_view' %}?group_pk={{group.pk}}" %}><i class='fa fa-plus-circle'></i> Create a new event in {{group}}</a>
                <h3>Members:</h3>
                {% for member in group.members.all %}
                    <a class="tooltipped" href="{% url 'profile_detail_view' member.pk %}" data-placement="bottom" data-toggle="tooltip" title="{{ member }}">
                        <img class="tiny-thumb" src="{{ member.picture.url }}" alt="{{ member }}">
                    </a>
                {% endfor %}

                <br><br>
                
                    {% if is_member %}
                        <div id="membership">
                        {% if not is_admin %}
                            <h3>You're a member of {{ group }}!</h3>
                        {% endif %}
                        <br>
                        <br>
                        <a class="btn btn-default popup" href="/ajax/friends/?group_pk={{ group.pk }}">Add friends to {{ group }}</a>

                        {% if not is_admin or group.admin_already_members.count != 1 %}
                        <br><br>
                        <a id="{{ group.name }}" class="btn btn-danger leave_group" href = "#">Leave {{ group }}</a></div>
                        {% endif %}
                        <br><br>
                        {% if group.invited_people.exists %}
                            <h4>People invited to join {{ group }}:</h4>
                            {% for potential in group.invited_people.all %}
                                <a href="{% url 'profile_detail_view' potential.pk %}">{{ potential }}</a>{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        {% endif %}

                    {% else %}
                        <div class="group_request_section" id="group_request_section-{{ group.pk }}">
                            {% if group_requested_by_member %}
                                <span class="btn btn-default">{{ group }} requested</span>
                                <a id="cancel-request-{{ group.pk }}" class="btn btn-warning cancel_request_membership_in_group" href = "#">Cancel request</a>
                            {% elif member_requested_by_group %}
                                <a id="addition-{{ group.pk }}" class="btn btn-success accept_invitation_from_group" href = "#">Join {{ group }}</a>
                                <a id="rejection-{{ group.pk }}" class="btn btn-danger reject_invitation_from_group" href = "#" alt='{{ request.user.profile.pk }}'>Decline joining {{ group }}</a>
                            {% else %}
                                <a id="request-add-button-{{ group.pk }}" class="btn btn-primary request_membership_in_group" href = "#">Request to join {{ group }}</a>
                            {% endif %}
                        </div>
                    {% endif %}


                <br>
                {% if is_admin %}
                <div id="adminship" style='width: 100%;'>
                <br>
                <h4>You're an admin of {{ group }}!</h4>
                <a class="btn btn-success" href="{% url 'group_update_view' group.pk %}">Edit {{ group }}</a><br>
                <a class="btn btn-danger delete-button" id="{{ group }}" href="{% url 'group_delete_view' group.pk %}">Delete {{ group }}...</a>
                <br>
                <br>
                {% if group.member_requests.exists %}
                    <h4>People requesting to join</h4>
                    <div class="overflow">
                    {% for potential in group.member_requests.all %}
                        <p style="margin-left: 10px;">{{ potential }}</p>
                        <div id="accept-request-{{potential.pk}}" style="margin-left: 10px; width: 100%;">
                            <a id="addition-{{ potential.pk }}" class="btn btn-success btn-xs accept_request_from_user" href = "#" alt='{{ potential.pk }}'>Accept {{ potential.first_name }}</a>&nbsp;
                            <a id="rejection-{{ potential.pk }}" class="btn btn-danger btn-xs reject_request_from_user" href = "#" alt='{{ potential.pk }}'>Reject {{ potential.first_name }}</a>
                        </div>
                    {% endfor %}
                    </div>
                {% else %}
                    <p>No one has requested to join {{ group }} right now!</p>
                {% endif %}
                </div>
            {% endif %}

            </div>
                
            </div>
        </div>
        </div>
    </div>
</div>


<input class="hidden" id="user_pk" alt="{{ request.user.profile.pk }}">
<input class="hidden" id="group_pk" alt="{{ group.pk }}">

{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        if (window.innerWidth>991) {
        var distance = (window.innerWidth-1400)
            if (distance > 300) {
                distance = 300;
            } else if (distance < 10) {
                distance = 10;
            }
        $('#sidebar').css({'right': distance+'px'});
        } 
        var height = 632
        if (window.innerHeight - 900 < 0) {
            $('#sidebar').css({'overflow': 'auto', 'max-height': window.innerHeight -275});

        }
    </script>
    <script src="{% static 'js/jquery.popup.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jstz-1.0.4.min.js' %}"></script>
{% endblock scripts %}