{% extends 'base.html' %}
{% load staticfiles %}

{% block refresh %}<meta http-equiv="refresh" content="120">
<link rel="stylesheet" type="text/css" href="{% static 'css/popup.css' %}">{% endblock %}

{% block title %}{{ group }}{% endblock title %}

{% block body %}

<div class="container">
    <div class="row">
        <h1 class="text-center">{{ group.name }}</h1>
        <div id="group-detail">
            <div class="col-sm-5 col-sm-offset-1">
                <h3>Members:</h3>
                {% for member in group.members.all %}
                    <a class="tooltipped" href="{% url 'profile_detail_view' member.pk %}" data-placement="bottom" data-toggle="tooltip" title="{{ member }}">
                        <img class="tiny-thumb" src="{{ member.picture.url }}" alt="{{ member }}">
                    </a>
                {% endfor %}

                <br><br>
                
                {% if logged_in %}
                    {% if is_member %}
                        <div id="membership">
                        {% if not is_admin %}
                            <h3>You're a member of {{ group }}!</h3>
                        {% endif %}
                        <br>
                        <br>
                        <a class="btn btn-default popup" href="/ajax/friends/?group_pk={{ group.pk }}">Add friends to {{ group }}</a>

                        {% if not is_admin or group.admin_already_members.count != 1 %}
                        <br><br>
                        <a id="{{ group.name }}" class="btn btn-danger leave_group" href = "#">Leave {{ group }}</a></div>
                        {% endif %}
                        <br><br>
                        {% if group.invited_people.exists %}
                            <h4>People invited to join {{ group }}:</h4>
                            {% for potential in group.invited_people.all %}
                                <a href="{% url 'profile_detail_view' potential.pk %}">{{ potential }}</a>{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        {% endif %}

                    {% else %}
                        <div class="group_request_section" id="group_request_section-{{ group.pk }}">
                            {% if group_requested_by_member %}
                                <span class="btn btn-default">{{ group }} requested</span>
                                <a id="cancel-request-{{ group.pk }}" class="btn btn-warning cancel_request_membership_in_group" href = "#">Cancel request</a>
                            {% elif member_requested_by_group %}
                                <a id="addition-{{ group.pk }}" class="btn btn-success accept_invitation_from_group" href = "#">Join {{ group }}</a>
                                <a id="rejection-{{ group.pk }}" class="btn btn-danger reject_invitation_from_group" href = "#" alt='{{ request.user.profile.pk }}'>Decline joining {{ group }}</a>
                            {% else %}
                                <a id="request-add-button-{{ group.pk }}" class="btn btn-primary request_membership_in_group" href = "#">Request to join {{ group }}</a>
                            {% endif %}
                        </div>
                    {% endif %}
                {% else %}
                    <h4 class="btn btn-danger">Log in to join {{ group }}!</h4>
                {% endif %}


                <br>
                <br>
                
            </div>
        </div>
            <div class="col-sm-6">
                <br>
                <a class="btn btn-success" href="{% url 'group_event_list' group.pk %}">Events Feed for {{ group }}</a>
                {% if is_admin %}
                <div id="adminship">
                <br>
                <h3>You're an admin of {{ group }}!</h3>
                <a class="btn btn-success" href="{% url 'group_update_view' group.pk %}">Edit {{ group }}</a>&nbsp;
                <a class="btn btn-danger delete-button" id="{{ group }}" href="{% url 'group_delete_view' group.pk %}">Delete {{ group }}...</a>
                <br>
                <br>
                {% if group.member_requests.exists %}
                    <h4>People requesting to join {{ group }}</h4>
                    <div class="overflow">
                    {% for potential in group.member_requests.all %}
                        <h5 style="margin-left: 10px;">{{ potential }}</h5>
                        <div id="accept-request-{{potential.pk}}" style="margin-left: 10px;">
                            <a id="addition-{{ potential.pk }}" class="btn btn-success btn-sm accept_request_from_user" href = "#" alt='{{ potential.pk }}'>Accept {{ potential.first_name }}</a>&nbsp;
                            <a id="rejection-{{ potential.pk }}" class="btn btn-danger btn-sm reject_request_from_user" href = "#" alt='{{ potential.pk }}'>Reject {{ potential.first_name }}</a>
                        </div>
                    {% endfor %}
                    </div>
                {% else %}
                    <h4>No one has requested to join {{ group }} right now! Consider gaining some popularity.</h4>
                {% endif %}
                </div>
            {% endif %}

            </div>
        </div>
    </div>
    <br><br>
    <a href="{% url 'group_list_view' %}">Back to group list</a>
</div>
<input class="hidden" id="user_pk" alt="{{ request.user.profile.pk }}">
<input class="hidden" id="group_pk" alt="{{ group.pk }}">
<script src="{% static 'js/jquery.popup.min.js' %}"></script>
{% endblock %}  