{% extends 'base.html' %}
{% load staticfiles %}
{% load values_list %}
{% load thumbnail %}

{% block refresh %}<meta http-equiv="refresh" content="120">
<link rel="stylesheet" type="text/css" href="{% static 'css/popup.css' %}">{% endblock %}

{% block title %}{{ group }} Events{% endblock title %}

{% block body %}
<div class="main">
    <div class="container">
        <div class="row">
            <br>
            <div id="group-detail">
            <div class="col-md-5">
                <h1 class="bold">{{ group }}</h1>
                {% if is_member %}
                    <h5 class="green"><i class="fa fa-check"></i>&nbsp;You are a member!</h5>
                {% endif %}<br>
                <h4>{{ group.description }}</h4>
                <br>

                <h3>THIS GROUP FEED'S SETTINGS</h3>
                <br>
                {% if group.searchable %}
                <h4>This Group Feed is <strong>searchable</strong></h4>
                <h5>Allows this group feed to show in searches</h5>
                {% else %}
                <h4>This Group Feed is <strong>not searchable</strong></h4>
                <h5>Prevents this group feed from showing up in searches. Only members or invitees can see this page</h5>
                {% endif %}
                <br>
                {% if group.open_group %}
                <h4>This is an <strong>open</strong> Group Feed</h4>
                <h5>Anyone can join this Group Feed without approval from the admins</h5>
                {% else %}
                <h4>This is a <strong>closed</strong> Group Feed</h4>
                <h5>New members must be approved by an administrator to view events</h5>
                {% endif %}
                <br>
                {% if group.admin_only %}
                <h4><strong>Only Admins</strong> can post events to this Group Feed</h4>
                {% else %}
                <h4><strong>All members</strong> can post events to this Group Feed</h4>
                {% endif %}
                


                <br><br>
                <br><br>
                
                {% if is_member %}
                    <a class="btn btn-default popup" href="/ajax/friends/?group_pk={{ group.pk }}">Add friends to {{ group }}</a>
                    <br>

                {% else %}
                    <div class="group_request_section" id="group_request_section-{{ group.pk }}">
                        {% if group_requested_by_member %}
                            <span class="btn btn-default">{{ group }} requested</span>
                            <a id="cancel-request-{{ group.pk }}" class="btn btn-warning cancel_request_membership_in_group" href = "#">Cancel request</a>
                        {% elif member_requested_by_group %}
                            <a id="addition-{{ group.pk }}" class="btn btn-success accept_invitation_from_group" href = "#">Join {{ group }}</a>
                            <a id="rejection-{{ group.pk }}" class="btn btn-danger reject_invitation_from_group" href = "#" alt='{{ request.user.profile.pk }}'>Decline joining {{ group }}</a>
                        {% else %}
                            <a id="request-add-button-{{ group.pk }}" class="btn btn-primary request_membership_in_group" href = "#">Request to join {{ group }}</a>
                        {% endif %}
                    </div>
                {% endif %}


                <br>

            </div>
                
            </div>
            <div class="col-md-7">    
                <br>
                {% if is_admin %}
                    <a class="btn btn-success" href="{% url 'group_update_view' group.pk %}">Edit {{ group }}</a>
                    <a class="btn btn-danger delete-button" id="{{ group }}" href="{% url 'group_delete_view' group.pk %}">Delete {{ group }}...</a>
                    <div>
                {% else %}
                    {% if is_member %}
                        <div id="membership">
                        {% if request.user.profile.pk not in group.followers|values_list:'pk' %}
                            <a class="btn btn-warning" href="{% url 'subscribe_group' group.pk %}"><i class='fa fa-star'></i>&nbsp;&nbsp;Favorite {{ group.name }}</a>
                        {% else %}
                            <a class="btn btn-warning" href="{% url 'subscribe_group' group.pk %}"><i class='fa fa-star-o'></i>&nbsp;&nbsp;Unfavorite {{ group.name }}</a>
                        {% endif %}
                    {% else %}
                        <div>
                    {% endif %}
                {% endif %}
                    {% if is_member %}
                        {% if not is_admin %}
                            <a id="{{ group.name }}" class="btn btn-danger leave_group" href = "#">Leave {{ group }}</a>
                        {% endif %}
                    {% endif %}
                    </div>
                <br>
                <div class="text-right">   
                    <a class="btn btn-success">EVENTS</a>
                    <a class="btn btn-default" href="{% url 'group_member_view' group.pk %}">Members</a>
                </div>
                 <h3 class="text-center bold">Events for this Group Feed</h3>
                <div class="row">
                    <a class="btn" href = "{% url 'event_create_view' %}?group_pk={{group.pk}}" %}><i class='fa fa-plus-circle'></i> Create a new event in this group</a><br>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h5 class="text-left"><strong>Current date: </strong><span id="current-date">{{ today |date:"c"}}</span></h5>
                    </div>
                    <div class="col-md-3 text-right" >
                        <a href="{% url 'group_event_list' group.pk %}?order=date_posted" class="btn btn-default {% if order %}active{% endif %}">Order by date posted</a>
                    </div>
                    <div class="col-md-2">
                        <a href="{% url 'group_event_list' group.pk %}" class="btn btn-default {% if not order %}active{% endif %}">Order by event date</a>
                    </div>
                </div>
                    <hr style="margin-bottom: 0">
                 

                {% if events|length > 0 %}
                    <div class="main-event-feed">
                {% for event in events %}
                    <div class="event-detail" id="event-detail-{{ event.pk }}">
                        {% if request.user.profile in event.host.all %}
                            <br>
                            <a href="{% url 'profile_detail_view' event.host.first.pk %}">
                            {% thumbnail  event.host.first.picture "200x200" crop="center" as im %}
                                <img src="{{ im.url }}" alt="port-1" class="port-item" width="40" height="40" style="border-radius: 20px; float:left">
                            {% endthumbnail %}
                            </a>
                            <h4 style="float: left;"><strong class='black'>&nbsp;{% for host in event.host.all %}{% if host == request.user.profile %}You{% else %}{{host}}{% endif %}{% if not forloop.last %}, {% endif %}{% endfor %}</strong>{% if event.groups.all %} in {% for group in event.groups.all %}<a href="{% url 'group_event_list' group.pk %}">{{ group }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}{% endif %}</h4>
                            <h5 class="darkgrey" style="float: right;">Posted <span class='date-posted'>{{ event.date_posted|date:"c" }}</span></h5> 
                            <div class="row" style="clear:both;">
                            
                                <h2 class="text-center"><a href="{% url 'event_detail_view' event.pk %}">{{ event.name }}</a></h2>
                                <div class="col-md-7">
                                    <h4 class="date-starting">{{ event.date_happening|date:"c" }}T{{ event.time_starting|time:"H:i" }}:00.000000+00:00</h4>
                                </div>
                                <div class="col-md-5 text-right">
                                    <br>
                                    <h5>{{ event.description }}</h5>
                                </div>
                            </div>
                            <div class="text-center green">
                                <h4>This is your event!</h4>
                            </div>
                            <br>
                            </div>
                        {% else %}
                        {% if request.user.profile in event.people_coming.all %}
                            <br>
                            <a href="{% url 'profile_detail_view' event.host.first.pk %}">
                            {% thumbnail  event.host.first.picture "200x200" crop="center" as im %}
                                <img src="{{ im.url }}" alt="port-1" class="port-item" width="40" height="40" style="border-radius: 20px; float:left">
                            {% endthumbnail %}
                            </a>
                            <h4 style="float: left;"><strong class='black'>&nbsp;{% for host in event.host.all %}{% if host == request.user.profile %}You{% else %}{{host}}{% endif %}{% if not forloop.last %}, {% endif %}{% endfor %}</strong>{% if event.groups.all %} in {% for group in event.groups.all %}<a href="{% url 'group_event_list' group.pk %}">{{ group }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}{% endif %}</h4>
                            <h5 class="darkgrey" style="float: right;">Posted <span class='date-posted'>{{ event.date_posted|date:"c" }}</h5> 
                            <br style="clear:both;">
                            {% if request.user.profile in event.people_who_shared_it.all %}
                                <p><strong>You</strong> shared this event!</p>
                            {% elif request.user.profile not in event.host.all and not groups_in|intersection:event.groups.all and not friends_pk|intersection:event.host.all %}
                                    <p>shared by {% for sharer in event.people_who_shared_it.all %}<a href="{% url 'profile_detail_view' sharer.pk %}">{{sharer.first_name}}</a>{% if not forloop.last %}, {% endif %}
                                    {% endfor %}</p>
                            {% endif %}
                            <h2 class="text-center"><a href="{% url 'event_detail_view' event.pk %}">{{ event.name }}</a></h2>
                            <div class="row">
                                <div class="col-md-4">
                                    <h4 class="date-starting">{{ event.date_happening|date:"c" }}T{{ event.time_starting|time:"H:i" }}:00.000000+00:00</h4>
                                    <h5>People coming: {{ event.people_coming.count}}</h5>
                                    <h5>People not coming: {{ event.people_not_coming.count}}</h5>
                                </div>
                                <div class="col-md-8 text-right">
                                    <h3>{{ event.description }}</h3>
                                </div>
                            </div>
                            <a class="btn btn-default" alt="{{event.pk}}"  href="{% url 'event_detail_view' event.pk %}">More details...</a>
                            <div class="text-right" style="float:right;">
                                <span class="green stan"><i class="fa fa-check-circle" id='icon-{{event.pk}}' alt="{{event.pk}}"></i>&nbsp;&nbsp;You're going!</span>&nbsp;&nbsp;
                                <a class="btn btn-danger cancel-decision" id="reject-button-{{event.pk}}" alt="{{event.pk}}"  href="#"><i class="fa fa-times-circle" id='icon-{{event.pk}}' alt="{{event.pk}}"></i>&nbsp;&nbsp;Back out...</a>
                            </div>
                            <br><br>
                        {% elif request.user.profile in event.people_not_coming.all %}
                            <br>
                            <a href="{% url 'profile_detail_view' event.host.first.pk %}">
                            {% thumbnail  event.host.first.picture "200x200" crop="center" as im %}
                                <img src="{{ im.url }}" alt="port-1" class="port-item" width="40" height="40" style="border-radius: 20px; float:left">
                            {% endthumbnail %}
                            </a>
                            <h4 style="float: left;" class='darkgray'><strong>&nbsp;{% for host in event.host.all %}{{host.first_name}}{% if not forloop.last %}, {% endif %}{% endfor %}</strong></h4>
                            <div class="text-right" style="float:right">
                                <span class="red stan"><i class="fa fa-times-circle" id='icon-{{event.pk}}' alt="{{event.pk}}"></i>&nbsp;&nbsp;You're not going...</span><br><br>
                                <a class="btn btn-sm btn-success cancel-decision" id="confirm-button-{{event.pk}}" alt="{{ event.pk }}"  href="#"><i class="fa fa-check-circle" id='icon-{{event.pk}}' alt="{{event.pk}}"></i>&nbsp;&nbsp;Cancel</a>
                            </div>
                            <h2 class="text-center darkgray"><a style="color: #424242" href="{% url 'event_detail_view' event.pk %}">{{event.name}}</a></h2>
                            <h5 style="color: darkgray" class="text-left date-starting">{{ event.date_happening|date:"c" }}T{{ event.time_starting|time:"H:i" }}:00.000000+00:00</h5>
                            {% if request.user.profile in event.people_who_shared_it.all %}
                                    <p><strong>You</strong> shared this event!</p>
                            {% elif request.user.profile not in event.host.all and not groups_in|intersection:event.groups.all and not friends_pk|intersection:event.host.all %}
                                    <p>shared by {% for sharer in event.people_who_shared_it.all %}<a href="{% url 'profile_detail_view' sharer.pk %}">{{sharer.first_name}}</a>{% if not forloop.last %}, {% endif %}
                                    {% endfor %}</p>
                            {% endif %}
                            {% else %}
                                <br>
                                <a href="{% url 'profile_detail_view' event.host.first.pk %}">
                            {% thumbnail  event.host.first.picture "200x200" crop="center" as im %}
                                <img src="{{ im.url }}" alt="port-1" class="port-item" width="40" height="40" style="border-radius: 20px; float:left">
                            {% endthumbnail %}
                            </a>
                                <h4 style="float: left;"><strong class='black'>&nbsp;{% for host in event.host.all %}{% if host == request.user.profile %}You{% else %}{{host}}{% endif %}{% if not forloop.last %}, {% endif %}{% endfor %}</strong>{% if event.groups.all %} in {% for group in event.groups.all %}<a href="{% url 'group_event_list' group.pk %}">{{ group }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}{% endif %}</h4>
                                <h5 class="darkgrey" style="float: right;">Posted <span class='date-posted'>{{ event.date_posted|date:"c" }}</h5> 
                                <div class="row" style="clear:both;">
                                {% if request.user.profile in event.people_who_shared_it.all %}
                                    <p>&nbsp;&nbsp;&nbsp;<strong>You</strong> shared this event!</p>
                                {% elif request.user.profile not in event.host.all and not groups_in|intersection:event.groups.all and not friends_pk|intersection:event.host.all %}
                                        <p>&nbsp;&nbsp;&nbsp;shared by {% for sharer in event.people_who_shared_it.all %}<a href="{% url 'profile_detail_view' sharer.pk %}">{{sharer.first_name}}</a>{% if not forloop.last %}, {% endif %}
                                        {% endfor %}</p>
                                {% endif %}
                                    
                                    <h2 class="text-center"><a href="{% url 'event_detail_view' event.pk %}">{{ event.name }}</a></h2>
                                    <div class="col-md-7">
                                        <h4 class="date-starting">{{ event.date_happening|date:"c" }}T{{ event.time_starting|time:"H:i" }}:00.000000+00:00</h4>
                                    </div>
                                    <div class="col-md-5 text-right">
                                    <h5>{{ event.description }}</h5>
                                </div>
                                </div>
                                <a class="btn btn-default" alt="{{ event.pk }}"  href="{% url 'event_detail_view' event.pk %}">More details...</a>
                                <div class="text-right" style="float:right;">
                                    <a class="btn btn-success confirm-can-come" alt="{{event.pk}}" id="confirm-button-{{event.pk}}" href="#"><i class="fa fa-check-circle" id='icon-{{event.pk}}' alt="{{event.pk}}"></i>&nbsp;&nbsp;Count me in!</a>&nbsp;
                                    <a class="btn btn-danger confirm-cannot-come" alt="{{event.pk}}" id="reject-button-{{event.pk}}" href="#"><i class="fa fa-times-circle" id='icon-{{event.pk}}' alt="{{event.pk}}"></i>&nbsp;&nbsp;Can't make it!</a>
                                </div>
                            <br><br>

                            {% endif %}
                        <br>
                    </div>
                        {% endif %}
                {% endfor %}
                    </div>
                    <hr style="margin-bottom: 0">
                    <h2 class="text-center" style="color: lightgray;"><i class='fa fa-arrow-down'></i></h2>
                    </div>
                {% else %}
                    <h3>You have no events in this Group Feed yet... Add some more friends or post an event to this group now!</h3>
                    <br>
                    
                    </div>
                {% endif %}
        </div>
        </div>
    </div>
</div>


<input class="hidden" id="user_pk" alt="{{ request.user.profile.pk }}">
<input class="hidden" id="group_pk" alt="{{ group.pk }}">

{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        if (window.innerWidth>991) {
        var distance = (window.innerWidth-1400)
            if (distance > 300) {
                distance = 300;
            } else if (distance < 10) {
                distance = (window.innerWidth-1200)
                if (distance > 300) {
                    distance = 300;
                } else if (distance < 10) {
                    distance = 10;
                }
            }
        $('#sidebar').css({'right': distance+'px'});
        } 
        var height = 632
        if (window.innerHeight - 900 < 0) {
            $('#sidebar').css({'overflow': 'auto', 'max-height': window.innerHeight -275});

        }
    </script>
    <script src="{% static 'js/jquery.popup.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jstz-1.0.4.min.js' %}"></script>
{% endblock scripts %}