{% extends 'base.html' %}

{% block refresh %}<meta http-equiv="refresh" content="120">{% endblock %}

{% block title %}{{ group }}{% endblock title %}

{% block body %}
<div class="container">
    <div class="row">
        <h1 class="text-center">{{ group.name }}</h1>
        <div id="group-detail">
            <div class="col-md-6">
                <br>    
                <br>    
                <h3>Members:</h3>
                {% for member in group.members.all %}
                    <a href="{% url 'profile_detail_view' member.pk %}">{{ member }}</a>{% if not forloop.last %},{% endif %}
                {% endfor %}

                <br><br>
                
                {% if logged_in %}
                    {% if is_member %}
                        <a class="btn btn-success" href="{% url 'group_event_list' group.name|slugify %}">Events Feed for {{ group }}</a>
                        <div id="membership">
                        {% if not is_admin %}
                            <h3>You're a member of {{ group }}!</h3>
                        {% endif %}
                        <br>
                        <br>
                        <a class="btn btn-default" href="#">Add friends to {{ group }}</a>
                        {% if not is_admin or group.admin.all|length != 1 %}
                        <a id="delete-friend-button-{{ group.pk }}" class="btn btn-danger leave_group" href = "#" alt='{{ group.pk }}'>Leave {{ group }}</a></div>
                        {% endif %}
                        <br><br>
                        {% if group.member_requests.all %}
                            <h4>People invited to join {{ group }}:</h4>
                            {% for potential in group.member_requests.all %}
                                <a href="{% url 'profile_detail_view' potential.pk %}">{{ potential }}</a>{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        {% endif %}

                    {% else %}
                        <div class="group_request_section" id="group_request_section-{{ group.pk }}">
                            {% if group_requested_by_member %}
                                <span class="btn btn-default" alt='{{ group.pk }}'>{{ group }} requested</span>
                                <a id="cancel-request-{{ group.pk }}" class="btn btn-warning cancel_request_membership_in_group" href = "#" alt='{{ group.pk }}'>Cancel request</a>
                            {% elif member_requested_by_group %}
                                <a id="addition-{{ group.pk }}" class="btn btn-success accept_invitation_from_group" href = "#" alt='{{ group.pk }}'>Join {{ group }}</a>
                                <a id="rejection-{{ group.pk }}" class="btn btn-danger reject_invitation_from_group" href = "#" alt='{{ group.pk }}'>Decline joining {{ group }}</a>
                            {% else %}
                                <a id="request-add-button-{{ group.pk }}" class="btn btn-primary request_membership_in_group" href = "#" alt='{{ group.pk }}'>Request to join {{ group }}</a>
                            {% endif %}
                        </div>
                    {% endif %}
                {% else %}
                    <h4 class="btn btn-danger">Log in to join {{ group }}!</h4>
                {% endif %}


                <br>
                <br>
                
            </div>
            </div>
            <div class="col-md-5 col-md-offset-1" id="group-detail">
                {% if is_admin %}
                <div id="adminship">
                <br>
                <h3>You're an admin of {{ group }}!</h3>
                <a class="btn btn-success" href="{% url 'group_update_view' group.pk %}">Edit {{ group }}</a>&nbsp;
                <a class="btn btn-danger" href="{% url 'group_delete_view' group.pk %}">Delete {{ group }}...</a>
                <br>
                <br>
                {% if group.requested_members.all %}
                    <h4>People requesting to join {{ group }}</h4>
                    {% for potential in group.requested_members.all %}
                        <h5>{{ potential }}</h5>
                        <a id="addition-{{ group.pk }}" class="btn btn-success btn-sm accept_request_from_user" href = "#" alt='{{ group.pk }}'>Accept {{ potential.first_name }}</a>&nbsp;
                        <a id="rejection-{{ group.pk }}" class="btn btn-danger btn-sm reject_request_from_user" href = "#" alt='{{ group.pk }}'>Reject {{ potential.first_name }}</a>
                        <br>
                    {% endfor %}
                {% else %}
                    <h4>No one has requested to join {{ group }} right now! Consider gaining some popularity.</h4>
                {% endif %}
                </div>
            {% endif %}

            </div>
        </div>
    </div>
    <br><br>
    <a href="{% url 'group_list_view' %}">Back to group list</a>
</div>
<input class="hidden" id="user_pk" alt="{{ request.user.profile.pk }}">

{% endblock %}  