{% extends 'base.html' %}
{% load addcss %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2>Create a new group</h2>
            <form action="{% url 'group_create_view' %}" enctype="multipart/form-data" method="POST" >
                {% csrf_token %}    
                Name:
                {{ form.name|addcss:"form-control" }}
                Admins of your new group! <small>(besides yourself, of course)</small>:
                <div class="overflow form-control">{{ form.admin }}</div>
                <br>
                <div class="red text-center"><p>{{ errors }}</p></div>    
                <input class="form-control" type="submit" value="Create group" />

            </form>
        </div>
    </div>
</div>

{% endblock %}
