
<div class="container">
    <div class="row">
                <h2>Invite friend lists to {{event}}</h2>
        <div class="col-md-7" id="pick-friend-list" alt="{{ event.pk }}">
        {% if friend_lists.exists %}
            {% for friend_list in friend_lists %}
                <div class="row">
                    <div class="col-md-9">
                        <h4>{{ friend_list }}&nbsp;&nbsp;</h4>
                    </div>
                    <div class="col-md-3" >
                        <a style="margin-top: -3px;" class="btn btn-success invite_friend_list_to_event" href="#" id="{{ friend_list.pk }}">Invite</a>
                    </div>
                </div>
                
            {% endfor %}
        {% else %}
            <h4>You have no friend lists to invite to this event!</h4>
        {% endif %}
        </div>
    </div>
</div>


<script type="text/javascript">
$('#pick-friend-list').on('click', '.invite_friend_list_to_event', function(e){
    e.preventDefault();
    var friend_list_pk = e.target.id;
    $.ajax({
        type: 'GET',
        url: '/invite_friend_list_to_event/',
        data: {
            friend_list_pk: friend_list_pk,
            event_pk: $('#pick-friend-list').attr('alt'),

        },
        success: function(data) {
            $('#'+friend_list_pk).removeClass('invite_friend_list_to_event');
            $('#'+friend_list_pk).removeClass('btn-success');
            $('#'+friend_list_pk).addClass('btn-default');
            $('#'+friend_list_pk).addClass('green');
            $('#'+friend_list_pk).text('Invited!');
            $('#'+friend_list_pk).attr('href', '');

        }
    });
});
</script>