{% load staticfiles %}
{% load thumbnail %}

<input id="search" placeholder="Search!" autocomplete="off">
<div class="container">
    <div class="row">
        <h3>Invite friend lists to {{event}}</h3>
        <div class="col-md-7" id="pick-friend-lists" alt="{{ event.pk }}">
        {% if friend_lists.exists %}
            {% for friend_list in friend_lists %}
                <div class="row">
                    <div class="col-md-9">
                        <h4>{{ friend_list }}&nbsp;&nbsp;</h4>
                    </div>
                    <div class="col-md-3" >
                        <a style="margin-top: -3px;" class="btn btn-success invite_friend_list_to_event" href="#" id="fl-{{ friend_list.pk }}">INVITE</a>
                    </div>
                </div>
                
            {% endfor %}
        {% else %}
            <h4>You have no friend lists to invite to this event!</h4>
        {% endif %}
        </div>
    </div>
    <div class="row">
        <h3>Invite friends to {{event}}</h3>
        <div class="col-md-7" id="pick-friend-list" alt="{{ event.pk }}">
        {% if friends.exists %}
            {% for friend in friends %}
                <div class="event-detail" style="border-bottom: 1px solid #EEE; border-top: 1px solid #EEE; min-height: 40px;">
                    {% thumbnail  friend.picture "200x200" crop="center" as im %}
                        <img src="{{ im.url }}" class="port-item" width="60" height="60" style="border-radius: 30px;" alt="{{ friend }}">
                    {% endthumbnail %}
                    {{ friend }}
                    <strong id='div-invite-friend-{{friend.pk}}'>
                    {% if friend not in event.invitees.all %}                
                        <a id="{{ friend.pk }}" class="btn btn-sm btn-success invite_friend_to_event" style="float: right; margin-top: 15px; margin-right: 50px;" href="#invite-to-group">INVITE</a>
                        <span id="replace-{{friend.pk}}"/>
                    {% else %}
                        <h5 style="float: right; margin-top: 22px; margin-right: 50px;" class="green">INVITED!</h5>
                    {% endif %}
                    </strong>
                </div>
            {% endfor %}
        {% else %}
            <h4>You have no more friends to invite to this event!</h4>
        {% endif %}
        </div>
    </div>
</div>


<script type="text/javascript">
$('#pick-friend-list').on('click', '.invite_friend_to_event', function(e){
    e.preventDefault();
    var friend_pk = e.target.id;
    $.ajax({
        type: 'GET',
        url: '/invite_friend_to_event/',
        data: {
            friend_pk: friend_pk,
            event_pk: $('#pick-friend-list').attr('alt'),

        },
        success: function(data) {
            $('#'+friend_pk).remove();
            $('#replace-'+friend_pk).html('<h5 style="float: right; margin-top: 22px; margin-right: 50px;" class="green">INVITED!</h5>');
        }
    });
});


$('#pick-friend-lists').on('click', '.invite_friend_list_to_event', function(e){
    e.preventDefault();
    var friend_list_pk = e.target.id.replace('fl-', '');
    $.ajax({
        type: 'GET',
        url: '/invite_friend_list_to_event/',
        data: {
            friend_list_pk: friend_list_pk,
            event_pk: $('#pick-friend-list').attr('alt'),

        },
        success: function(data) {
            $('#fl-'+friend_list_pk).removeClass('invite_friend_list_to_event');
            $('#fl-'+friend_list_pk).removeClass('btn-success');
            $('#fl-'+friend_list_pk).addClass('btn-default');
            $('#fl-'+friend_list_pk).addClass('green');
            $('#fl-'+friend_list_pk).text('INVITED!');
            $('#fl-'+friend_list_pk).attr('href', '');

        }
    });
});
</script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.js"></script>

{% verbatim %}
<script type="text/x-handlebars-template" id="friends_template">
    {{#if no_friends }}
    <h4>No friends match your search!</h4>
    {{/if}}
    {{#each friends}}
    <div class="event-detail" style="border-bottom: 1px solid #EEE; border-top: 1px solid #EEE; min-height: 40px;">
        <img src="{{ img_url }}" class="port-item" width="60" height="60" style="border-radius: 30px;" alt="{{ name }}">
        {{ name }}
        <strong id='div-invite-friend-{{pk}}'>
        {{#if invited}}        
            <h5 style="float: right; margin-top: 22px; margin-right: 50px;" class="green">INVITE!</h5>    
        {{else}}
            <a id="{{ pk }}" class="btn btn-sm btn-success invite_friend_to_event" style="float: right; margin-top: 15px; margin-right: 50px;" href="#invite-to-group">INVITE</a>
            <span id="replace-{{pk}}"/>
        {{/if}}
        </strong>
    </div>
     {{/each}}
</script>
{% endverbatim %}

{% verbatim %}
<script type="text/x-handlebars-template" id="friend_lists_template">
    {{#if no_friend_lists }}
    <h4>No friend lists match your search!</h4>
    {{/if}}
    {{#each friend_lists}}
    <div class="row">
        <div class="col-md-9">
            <h4>{{ name }}&nbsp;&nbsp;</h4>
        </div>
        <div class="col-md-3" >
            <a style="margin-top: -3px;" class="btn btn-success invite_friend_list_to_event" href="#" id="{{ pk }}">INVITE</a>
        </div>
    </div>
     {{/each}}
</script>
{% endverbatim %}

<script type="text/javascript">
    $('#search').on('keyup', function(e){
            var friendLists = $('#pick-friend-lists');
            var friends = $('#pick-friend-list');
            var rawFriendLists = $('#friend_lists_template').html();
            var rawFriends = $('#friends_template').html();
            var friendsTemplate = Handlebars.compile(rawFriends);
            var friendListsTemplate = Handlebars.compile(rawFriendLists);
            

            $.ajax({
                type: 'GET',
                url: '/search_invite_json/{{event.pk}}/',
                data: {
                  'search': $('#search').val(),
                },
                success: function(data) {
                    console.log('success');

                    friends_html = friendsTemplate(data);
                    friends.html(friends_html);

                    friend_list_html = friendListsTemplate(data);
                    friendLists.html(friend_list_html);
                }
            });
    });
</script>