{% extends 'base.html' %}
{% load addcss %}

{% block title %}Events Made Easy{% endblock title %}



{% block body %}

<div class="container main">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6 col-md-8">
                    <br>
                    <h1 class="text-center"><strong>WAYD</strong></h1>
                    <br>
                    <h3>Make events happen, all without the pain of making events happen.</h3>
                    <br>
                    <h4><i class='fa fa-comments fa-2x'></i>&nbsp;&nbsp;<strong>Get people together</strong> by just a single post.</h4>
                    <h4>&nbsp;&nbsp;<i class='fa fa-bolt fa-2x'></i>&nbsp;&nbsp;&nbsp;&nbsp;<strong>Find out</strong> what's happening in an instant.</h4>
                    <h4><i class='fa fa-calendar-check-o fa-2x'></i>&nbsp;&nbsp;<strong>Scheduling</strong> is as easy as checking a feed.</h4><br>
                    <h4>If this is your first time here, check out the <a href="{% url 'about_view' %}">about</a> page!</h4>
                </div>
                <div class="col-md-5 col-md-4 col-md-offset-1">
                    <br>
                    <br>
                    <h3 class="text-center">Sign In</h3>
                    <br>
                    <h5>Don't have an account? That's okay - just use your Facebook profile to create one now!</h5><br>
                    <div class="text-center">
                        <h4><a class="btn btn-primary btn-lg" href="{% url 'social:begin' 'facebook' %}?next={% if next %}{{next}}{% else %}{% url 'event_list_view' %}{% endif %}">
                            <i class="fa fa-facebook fa-lg"></i>&nbsp;&nbsp;|&nbsp;&nbsp;Log In with Facebook
                        </a></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
    