{% extends 'base.html' %}
{% load thumbnail %}

{% block title %}
    Your Friends
{% endblock title %}

{% block refresh %}<meta http-equiv="refresh" content="120">{% endblock %}

{% block body %}
<div class="container">
<br>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
        
        <div class="row">
                <div class="col-xs-2">
                    
                    {% if profile.picture %}
                        <a class="no-underline" href="{% url 'profile_detail_view' profile.pk %}">
                        {% thumbnail  profile.picture "200x200" crop="center" as im %}
                            <img src="{{ im.url }}" alt="port-1" class="port-item" width="100" height="100" style="border-radius: 100px;">
                        {% endthumbnail %}
                        </a>
                        <br>
                    {% else %}
                        <h3>No prof pic</h3>
                    {% endif %}
                </div>
                <div class="col-xs-8" style="margin-top: 10px">
                    <h2 class="bold">{{ profile }}</h2>
                </div>
                <div class="col-xs-1">
                    <a style="min-width: 144px;" class="btn btn-success">ALL FRIENDS</a>
                    <a style="min-width: 144px;" href="{% url 'other_mutual_list' profile.pk %}" class="btn btn-default">Mutual friends</a>
                </div>
            </div>
        <h2>{{ profile.first_name }}'s friends</h2>
                {% if friends %}
                    <div class="row">
                    {% for profile in friends %}
                         <div class="col-xs-2 text-center" style="margin-right: -15px; margin-top: 2px; margin-bottom: 2px;">
                         <a class="no-underline" href="{% url 'profile_detail_view' profile.pk %}">
                            {% thumbnail  profile.picture "200x200" crop="center" as im %}
                                <img src="{{ im.url }}" class="port-item" width="80" height="80" style="border-radius: 40px" alt="{{ person }}">
                            {% endthumbnail %}
                        </br>
                            {{ profile.first_name }}<br>{{ profile.last_name }}</a>
                        {% if forloop.counter|divisibleby:6 %}
                            </div> <div class="row">
                        {% endif %}
                        </div>


                    {% endfor %}
                    </div>
                {% else %}
                    <br>    
                    <h4>You have no friends yet...</h4>
                {% endif %}
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $('#create').on('click', function(e) {
            e.preventDefault();
            $('#' + e.target.id).remove()
            $('#new-friend-list').removeClass('hidden');
        });
    </script>
{% endblock scripts %}
    