{% extends 'base.html' %}
{% load staticfiles %}

{% block refresh %}<meta http-equiv="refresh" content="120">{% endblock %}

{% block title %}{{ profile }}{% endblock title %}


{% block body %}
<div class="container">
    <div class="row">
            <h1 class="text-center bold">{{ profile }}</h1>
        <div class="col-sm-8">
            <br> 
            {% if profile.picture %}
                <img src="{{ profile.picture.url }}">
                <br>
            {% else %}
                <h3>No prof pic</h3>
            {% endif %}

            <h3>{{ profile.first_name }}'s friends</h3>

            {% for friend in profile.friends.all %}
                <a href="{% url 'profile_detail_view' friend.pk %}">{{ friend }}</a>{% if not forloop.last %},{% endif %}
            {% endfor %}

            <h3>{{ profile.first_name }}'s groups</h3>

            {% for group in profile.groups_in.all %}
                <a href="{% url 'group_detail_view' group.pk %}">{{ group }}</a>{% if not forloop.last %},{% endif %}
            {% endfor %}
    
            <br>
            <br>
            <br>
            {% if logged_in %}
                {% ifequal request.user.profile profile %}
                    <a class="btn btn-default" href="{% url 'profile_update_view' profile.pk %}" %}>Update your profile</a>
                {% else %}
                    <div class="friend_request_section" id="friend_request_section-{{ profile.pk }}">
                        {% if friend_requested_by_you %}
                            <a class="btn btn-default" alt='{{ profile.pk }}'>{{ profile.first_name }} requested</a>
                            <a id="cancel-request-{{ profile.pk }}" class="btn btn-warning cancel-request" href = "#" alt='{{ profile.pk }}'>Cancel request</a>
                        {% elif friend_requested_by_them %}
                            <a id="addition-{{ profile.pk }}" class="btn btn-success detail-add-button" href = "#" alt='{{ profile.pk }}'>Accept {{ profile.first_name }} as a friend</a>
                            <a id="rejection-{{ profile.pk }}" class="btn btn-danger detail-reject-button" href = "#" alt='{{ profile.pk }}'>Reject {{ profile.first_name }} as a friend</a>
                        {% elif not_friends %}
                            <a id="request-add-button-{{ profile.pk }}" class="btn btn-primary request-add-button" href = "#" alt='{{ profile.pk }}'>Add {{ profile.first_name }} as a friend</a>
                        {% else %}
                            <h4>You are friends with {{ profile.first_name }}!</h4>
                            <a id="delete-friend-button-{{ profile.pk }}" class="btn btn-danger delete-friend-button" href = "#" alt='{{ profile.pk }}' placeholder="{{ profile.first_name }}">Delete {{ profile.first_name }} as a friend</a>

                        {% endif %}
                    </div>
                {% endifequal %}
            {% else %}
                <h4 class="btn btn-danger">Log in to add {{ profile.first_name }}!</h4>
            {% endif %}
            <br>
            <br>
            <a href="{% url 'profile_list_view' %}">Back to profile list</a>
        </div>
        <div class="col-sm-4">
        <br>
            <h5 class="bio">{{profile.bio}}</h5><br>
            <h4><strong>Your Search Username</strong>:</h4><h4>{{ profile.username }}</h4>
            <h3>Events {% ifequal request.user.profile profile  %}You've{% else %}{{profile.first_name}} Has{% endifequal %} Posted</h3>
            {% if profile.events_hosted.all %}
            <div class="main-feed">
                {% for event in profile.events_hosted.all %}
                    <hr>
                    <h5>{{ event }}</h5>
                    <h6 style="color: darkgrey">Hosted by {% for host in event.host.all %}{% if host == request.user.profile %}<strong>You</strong>{% else %}{{host}}{% endif %}{% if not forloop.last %}, {% endif %}{% endfor %}</h6>
                    <a class="btn btn-default" href="{% url 'event_detail_view' event.pk %}">More details...</a></br>
                {% endfor %}
            </div>
            {% else %}
                <br>
                <br>
                <h4>You have no upcoming events!</h4>
            {% endif %}

        </div>
    </div>
</div>

{% endblock %}  