{% load staticfiles %}
<a class="btn btn-primary" target="_blank" href='{{share_url}}'>Share to Facebook</a>
<br>
<div id="sharing" style="margin-top: 10px">
    {% if event.shareable and request.user.profile not in event.host.all %}
        {% if event not in request.user.profile.events_posted.all %}
            <a class="btn btn-success" href="#" alt='{{event.pk}}' id='share-event'>Share this event to your feed!</a>
        {% else %}
            <h4 class="green">You have already shared this event to your feed.&nbsp;&nbsp;&nbsp;<a class="btn btn-danger" href="#" alt="{{ event.pk }}" id="share-event">Unshare</a></h4>
        {% endif %}
    {% endif %}
</div>  

<script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
<script type="text/javascript">
    $('#sharing').on('click', '#share-event', function(e) {
        e.preventDefault();
        console.log('Share!');
        var prk = $(this).attr('alt');
        $.ajax({
            type: 'GET',
            url: '/share_event/',
            data: {
                pk: prk,
            },
            success: function(data) {
                if (data[1]) {
                    $("#sharing").html('<h4 class="green">You shared ' + data[0] + ' to your feed.&nbsp;&nbsp;<a class="btn btn-danger" href="#" alt="' + prk + '" id="share-event">Undo</a></h4>');
                } else {
                    $("#sharing").html('<a class="btn btn-success" href="#" alt="' + prk + '" id="share-event">Share this event to your feed!</a>');
                }
            }
        });
    });
</script>