{% extends "base.html" %}
{% load staticfiles %}
{% load values_list %}
{% load addcss %}
{% load thumbnail %}

{% block refresh %}<meta http-equiv="refresh" content="120">{% endblock %}

{% block title %}Today{% endblock title %}

{% block body %}
    <div class="container">
    <br>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <h1 class="text-center bold">HAPPENING TODAY</h1>
                <h5 class="text-center">Things happening over the next 24 hours!</h5>
                <hr style="margin-bottom: 0">
                <div class="text-center"><h3>Planning something?<a style="margin-left: 20px;" class="btn btn-success" href="#" id="plan-now">GET AN EVENT STARTED</a><a style="margin-left: 20px;" class="btn btn-warning hidden" href="#" id="hide-plan-now">CANCEL</a></h3></div>
                <form id="create-event-basic" class="hidden" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-xs-8 col-xs-offset-2">
                                <strong>What are you going to do?</strong>
                                {{ form.summary|addcss:"form-control" }}
                                <span class='red' id='summary-errors'></span><br>
                                <strong>When?</strong>
                                <div class="row" style="margin-right: -8px; margin-left: -8px; ">
                                    <div class="col-xs-1 text-center"><i class="fa fa-calendar-o" style='padding: 10px; border-radius: 8px; background: lightgray'></i></div>
                                    <div class="col-xs-5">{{form.date_happening|addcss:"form-control datepicker"}}</div>
                                    <div class="col-xs-1 text-center"><i class="fa fa-clock-o" style='padding: 10px; border-radius: 8px; background: lightgray'></i></div>
                                    <div class="col-xs-5">{{form.time_starting|addcss:"form-control timepicker"}}</div>
                                </div>
                                <span class='red' id='start-time-errors'></span><br>
                                <strong>Where?</strong>
                                {{ form.location|addcss:"form-control" }}
                                {{ form.test_location|addcss:"hidden" }}
                                <span class='red' id='location-errors'></span>
                                <input type="submit" style="margin-top: 5px;" class="form-control" value="Make it official!" id="create-button">
                        </div>
                    </div>
                    <input id="current-timezone" name="timezone" class="hidden" value="UTC">
                    {{form.errors}}
                </form>
                
                <br>
                <h5 class="text-left"><strong>Right now: </strong><span id="current-date">{{ today |date:"c"}}</span></h5>
                    <hr style="margin-bottom: 0">
                {% if events|length > 0 %}
                    <div class="main-event-feed">
                {% for event in events %}
                    <div class="event-detail" {% if event in happening_now %}style="background-color: rgba(255,230,0,0.3); border-color: rgba(255,230,0,0.1); padding-top: 10px"{% endif %} id="event-detail-{{ event.pk }}">
                        {% if event in happening_now %}
                        <p class="text-center georgia" style="font-size: 1.5em; margin-bottom: -40px">HAPPENING NOW UNTIL <span class="date-ending bold">{{ event.date_happening|date:"c" }}T{{ event.time_ending|time:"H:i" }}:00.000000+00:00</span></p>
                        {% endif %}
                        {% if request.user.profile in event.host.all %}
                            <br>
                            <a href="{% url 'profile_detail_view' event.host.first.pk %}">
                            {% thumbnail  event.host.first.picture "200x200" crop="center" as im %}
                                <img src="{{ im.url }}" alt="port-1" class="port-item" width="40" height="40" style="border-radius: 20px; float:left">
                            {% endthumbnail %}
                            </a>
                            <h4 style="float: left;"><strong class='black'>&nbsp;{% for host in event.host.all %}{% if host == request.user.profile %}You{% else %}{{host}}{% endif %}{% if not forloop.last %}, {% endif %}{% endfor %}</strong>{% if event.groups.all %} in {% for group in event.groups.all %}<a href="{% url 'group_event_list' group.pk %}">{{ group }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}{% endif %}</h4>
                            <h5 class="darkgrey" style="float: right;">Posted <span class='date-posted'>{{ event.date_posted|date:"c" }}</h5> 
                            <br style="clear:both;">
                            <h2 class="text-center"><a href="{% url 'event_detail_view' event.pk %}">{{ event.name }}</a></h2>
                            <div class="row">
                                <div class="col-md-4">
                                    <h4 class="date-starting">{{ event.date_happening|date:"c" }}T{{ event.time_starting|time:"H:i" }}:00.000000+00:00</h4>
                                    <h5>People coming: {{ event.people_coming.count}}</h5>
                                    <h5>People not coming: {{ event.people_not_coming.count}}</h5>
                                </div>
                                <div class="col-md-8 text-right">
                                    {% if event.description %}
                                        <h5>{{ event.description }}</h5>
                                    {% endif %}
                                </div>
                            </div>
                            <div style="float: right;" class="text-center green">
                                <h4 class="bold">This is your event!</h4>
                            </div>
                            <br style="clear:both;">
                            <br>
                        </div>
                        {% else %}
                        {% if request.user.profile in event.people_coming.all %}
                            <br>
                            <a href="{% url 'profile_detail_view' event.host.first.pk %}">
                            {% thumbnail  event.host.first.picture "200x200" crop="center" as im %}
                                <img src="{{ im.url }}" alt="port-1" class="port-item" width="40" height="40" style="border-radius: 20px; float:left">
                            {% endthumbnail %}
                            </a>
                            <h4 style="float: left;"><strong class='black'>&nbsp;{% for host in event.host.all %}{% if host == request.user.profile %}You{% else %}{{host}}{% endif %}{% if not forloop.last %}, {% endif %}{% endfor %}</strong>{% if event.groups.all %} in {% for group in event.groups.all %}<a href="{% url 'group_event_list' group.pk %}">{{ group }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}{% endif %}</h4>
                            <h5 class="darkgrey" style="float: right;">Posted <span class='date-posted'>{{ event.date_posted|date:"c" }}</h5> 
                            <br style="clear:both;">
                            {% if request.user.profile in event.people_who_shared_it.all %}
                                <p><strong>You</strong> shared this event!</p>
                            {% elif request.user.profile not in event.host.all and not groups_in|intersection:event.groups.all and not friends_pk|intersection:event.host.all %}
                                {% if request.user.profile in event.invitees.all %}
                                    <p>You were invited to this event!</p>
                                {% else %}
                                    <p>shared by {% for sharer in event.people_who_shared_it.all %}<a href="{% url 'profile_detail_view' sharer.pk %}">{{sharer.first_name}}</a>{% if not forloop.last %}, {% endif %}
                                    {% endfor %}</p>
                                {% endif %}
                            {% endif %}
                            <h2 class="text-center"><a href="{% url 'event_detail_view' event.pk %}">{{ event.name }}</a></h2>
                            <div class="row">
                                <div class="col-md-4">
                                    <h4 class="date-starting">{{ event.date_happening|date:"c" }}T{{ event.time_starting|time:"H:i" }}:00.000000+00:00</h4>
                                    <h5>People coming: {{ event.people_coming.count}}</h5>
                                </div>
                                <div class="col-md-8 text-right">
                                    {% if event.description %}
                                        <h5>{{ event.description }}</h5>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="text-right" style="float:right;">
                                <span class="green stan"><i class="fa fa-check-circle" id='icon-{{event.pk}}' alt="{{event.pk}}"></i>&nbsp;&nbsp;You're going!</span>&nbsp;&nbsp;
                                <a class="btn btn-danger cancel-decision" id="reject-button-{{event.pk}}" alt="{{event.pk}}"  href="#"><i class="fa fa-times-circle" id='icon-{{event.pk}}' alt="{{event.pk}}"></i>&nbsp;&nbsp;Back out...</a>
                            </div>
                            <br>
                        {% elif request.user.profile in event.people_not_coming.all %}
                            <br>
                            <a href="{% url 'profile_detail_view' event.host.first.pk %}">
                            {% thumbnail  event.host.first.picture "200x200" crop="center" as im %}
                                <img src="{{ im.url }}" alt="port-1" class="port-item" width="40" height="40" style="border-radius: 20px; float:left">
                            {% endthumbnail %}
                            </a>
                            <h4 style="float: left;" class='darkgray'><strong style='color: darkgray'>&nbsp;{% for host in event.host.all %}{{host.first_name}}{% if not forloop.last %}, {% endif %}{% endfor %}</strong></h4>
                            <div class="text-right" style="float:right">
                                <span class="red stan"><i class="fa fa-times-circle" id='icon-{{event.pk}}' alt="{{event.pk}}"></i>&nbsp;&nbsp;You're not going...</span><br><br>
                                <a class="btn btn-sm btn-success cancel-decision" id="confirm-button-{{event.pk}}" alt="{{ event.pk }}"  href="#"><i class="fa fa-check-circle" id='icon-{{event.pk}}' alt="{{event.pk}}"></i>&nbsp;&nbsp;Cancel</a>
                            </div>
                            <h2 class="text-center darkgray"><a style="margin-left: 40px;" href="{% url 'event_detail_view' event.pk %}">{{event.name}}</a></h2>
                            <h5 style="color: darkgray" class="text-left date-starting">{{ event.date_happening|date:"c" }}T{{ event.time_starting|time:"H:i" }}:00.000000+00:00</h5>
                            {% if request.user.profile in event.people_who_shared_it.all %}
                                    <p><strong>You</strong> shared this event!</p>
                            {% elif request.user.profile not in event.host.all and not groups_in|intersection:event.groups.all and not friends_pk|intersection:event.host.all %}
                                {% if request.user.profile in event.invitees.all %}
                                    <p>You were invited to this event!</p>
                                {% else %}
                                    <p>shared by {% for sharer in event.people_who_shared_it.all %}<a href="{% url 'profile_detail_view' sharer.pk %}">{{sharer.first_name}}</a>{% if not forloop.last %}, {% endif %}
                                    {% endfor %}</p>
                                {% endif %}
                            {% endif %}
                            {% else %}
                                <br>
                                <a href="{% url 'profile_detail_view' event.host.first.pk %}">
                            {% thumbnail  event.host.first.picture "200x200" crop="center" as im %}
                                <img src="{{ im.url }}" alt="port-1" class="port-item" width="40" height="40" style="border-radius: 20px; float:left">
                            {% endthumbnail %}
                            </a>
                                <h4 style="float: left;"><strong class='black'>&nbsp;{% for host in event.host.all %}{% if host == request.user.profile %}You{% else %}{{host}}{% endif %}{% if not forloop.last %}, {% endif %}{% endfor %}</strong>{% if event.groups.all %} in {% for group in event.groups.all %}<a href="{% url 'group_event_list' group.pk %}">{{ group }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}{% endif %}</h4>
                                <h5 class="darkgrey" style="float: right;">Posted <span class='date-posted'>{{ event.date_posted|date:"c" }}</h5> 
                                <div class="row" style="clear:both;">
                                {% if request.user.profile in event.people_who_shared_it.all %}
                                    <p>&nbsp;&nbsp;&nbsp;<strong>You</strong> shared this event!</p>
                                {% elif request.user.profile not in event.host.all and not groups_in|intersection:event.groups.all and not friends_pk|intersection:event.host.all %}
                                {% if request.user.profile in event.invitees.all %}
                                    <p>&nbsp;&nbsp;&nbsp;You were invited to this event!</p>
                                {% else %}
                                    <p>&nbsp;&nbsp;&nbsp;shared by {% for sharer in event.people_who_shared_it.all %}<a href="{% url 'profile_detail_view' sharer.pk %}">{{sharer.first_name}}</a>{% if not forloop.last %}, {% endif %}
                                    {% endfor %}</p>
                                {% endif %}
                                {% endif %}
                                    
                                    <h2 class="text-center"><a href="{% url 'event_detail_view' event.pk %}">{{ event.name }}</a></h2>
                                    <div class="col-md-7">
                                        <h4 class="date-starting">{{ event.date_happening|date:"c" }}T{{ event.time_starting|time:"H:i" }}:00.000000+00:00</h4>
                                    </div>
                                    <div class="col-md-5 text-right">
                                    {% if event.description %}
                                        <h5>{{ event.description }}</h5>
                                    {% endif %}
                                </div>
                                </div>
                                
                                <div class="text-right" style="float:right;">
                                    <a class="btn btn-success confirm-can-come" alt="{{event.pk}}" id="confirm-button-{{event.pk}}" href="#"><i class="fa fa-check-circle" id='icon-{{event.pk}}' alt="{{event.pk}}"></i>&nbsp;&nbsp;Count me in!</a>&nbsp;
                                    <a class="btn btn-danger confirm-cannot-come" alt="{{event.pk}}" id="reject-button-{{event.pk}}" href="#"><i class="fa fa-times-circle" id='icon-{{event.pk}}' alt="{{event.pk}}"></i>&nbsp;&nbsp;Can't make it!</a>
                                </div>
                            <br>

                            {% endif %}
                        <br>
                    </div>
                        {% endif %}
                {% endfor %}
                    </div>
                    <hr style="margin-bottom: 0">
                    <div id="see-more" style="min-height: 100px;">
                        <h3 class="text-center" style="margin-bottom: 10px;"><a class="no-underline">Want to see more things coming up?</a></h3>
                        <div class="row hidden" id="more-time-buttons">
                            <div class="col-xs-3" id='place-holder'></div>
                            <div class="col-xs-2 text-right">
                                <a href="#" class="btn btn-default" id='tomorrow-events'>TOMORROW</a>
                            </div>
                            <div class="col-xs-2 text-center">
                                <a href="#" class="btn btn-default" id='full-week-events'>THIS WEEK</a>
                            </div>
                            <div class="col-xs-2 text-left">
                                <a href="{% url 'event_list_view' %}" class="btn btn-default" id='all-events'>ALL EVENTS</a>
                            </div>
                        </div>
                    </div>
                    <br>
                {% else %}
                    <h3>Nothing's going on today!</h3>
                    <br>
                {% endif %}
            </div>
                
        </div>
    </div>
    
{% endblock body %}

{% block links %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="{% static 'css/jquery.timeentry.css' %}">
    <link rel="stylesheet" href="{% static 'location_picker/location_picker.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'css/popup.css' %}">
    
{% endblock links %}

{% block scripts %}
    <script src="{% static 'js/jquery.popup.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jstz-1.0.4.min.js' %}"></script> 
    <script src="{% static 'js/jquery.plugin.min.js' %}"></script>
    <script src="{% static 'js/jquery.timeentry.min.js' %}"></script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places"></script>
    <script type="text/javascript">        
        var input = document.getElementById('id_location');
        var autocomplete = new google.maps.places.Autocomplete(input);

        autocomplete.addListener('place_changed', function() {
            var place = autocomplete.getPlace();
            if (!place.geometry) {
              window.alert("Autocomplete's returned place contains no geometry");
              return;
            }
            $('#id_test_location').val(place.geometry.location.lat() + ", " + place.geometry.location.lng())
        });
        $("#create-event-basic").hide();
        
      $('form input').on('keypress', function(e) {
            return e.which !== 13;
        });
        $('#plan-now').on('click', function(e) {
            $('#plan-now').addClass('hidden')
            $('#hide-plan-now').removeClass('hidden')
            $('#create-event-basic').removeClass('hidden')
            $('#create-event-basic').show('150')
        });
        $('#hide-plan-now').on('click', function(e) {
            $('#hide-plan-now').addClass('hidden')
            $('#plan-now').removeClass('hidden')
            $('#create-event-basic').hide('150')
            // $('#create-event-basic').addClass('hidden')
        });
        $('#create-button').on('click', function(e) {
            e.preventDefault();
            var now = new Date()
            console.log(now)

            var from = $(".datepicker").val().split("-");

            var date = new Date(from[0], from[1] - 1, from[2]);
            var dateString = date.toDateString().split(" 00")[0] + " "
            var start = new Date(dateString + $('#id_time_starting').val())
            // var end = new Date(dateString + $('#id_time_ending').val())

            var timeComp = new Date("1 Jan 2000 " + now.toTimeString())
            var lateDate = new Date("1 Jan 2000 7:00 PM")
            var midnight = new Date("2 Jan 2000 12:00 AM")
            var earlyDate = new Date("2 Jan 2000 6:59 AM")
            

            var startComp = new Date("1 Jan 2000 " + $('#id_time_starting').val())
            // var endComp = new Date("2 Jan 2000 " + $('#id_time_ending').val())

            var shouldSubmit = true
            // if (end > start || ((startComp > lateDate && startComp < midnight) && (endComp < earlyDate && endComp > midnight))) {
            //     $('#id_time_ending').css('border', '1px solid #cccccc');
            //     $('#end-time-errors').text('');
            // } else {
            //     $('#id_time_ending').css('border', '1px solid red');
            //     $('#end-time-errors').text('The end time cannot be before the start time.')
            //     shouldSubmit = false;
            // };
            if (startComp > timeComp ) { 
                $('#id_time_starting').css('border', '1px solid #cccccc');
                $('#id_date_happening').css('border', '1px solid #cccccc');
                $('#start-time-errors').html('')
            } else {
                $('#id_time_starting').css('border', '1px solid red');
                $('#id_date_happening').css('border', '1px solid red');
                $('#start-time-errors').html('You can\'t plan something in the past!<br>')
                shouldSubmit = false;
            }
            if ($('#id_summary').val()) { 
                $('#id_summary').css('border', '1px solid #cccccc');
                $('#summary-errors').text('')
            } else {
                $('#id_summary').css('border', '1px solid red');
                $('#summary-errors').text('What are you gonna call your shindig?')
                shouldSubmit = false;
            }
            if ($('#id_location').val()) {
                $('#id_location').css('border', '1px solid #cccccc');
                $('#location-errors').text('')
                if ($('#id_test_location').val()) {
                    $('#id_location').css('border', '1px solid #cccccc');
                    $('#location-errors').text('')
                } else {
                    $('#id_location').css('border', '1px solid red');
                    $('#location-errors').text('Please choose from the Google Map dropdown so WAYD can pinpoint the location.')
                    shouldSubmit = false;
                }
            } else {
                $('#id_location').css('border', '1px solid red');
                $('#location-errors').text('Where is this going down?')
                shouldSubmit = false;
            }
            

            if (shouldSubmit) {
                $('#create-event-basic').submit()
            }
        });
     $("#more-time-buttons").hide();
     $("#more-time-buttons").removeClass('hidden');
     $("#see-more").mouseenter(function() {
            $("#more-time-buttons").show(50);
        }).mouseleave(function() {
            $("#more-time-buttons").hide(70);
        });
    </script>
{% endblock scripts %}
