*, #footer, body, h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
}

div.main, div.wrapper {
    min-height: 80%;
}

h1, h2 {
    font-weight: bolder;
}

.georgia {
    font-family: 'Roboto Slab', serif;
}

.bio {
    padding: 5px;
    background-color: #DDD;
}

#bs-example-navbar-collapse-1 {
    min-height: 70px;
}

.navbar-nav, .navbar-header {
    padding-top: 10px;
}

ul.nav {
    padding-right: 100px;
}

@media (min-width: 768px) {
    .navbar-brand {
        padding-left: 100px;

    }
}

strong.bigger {
    font-size: 1.5em;
    float: left;
    margin-right: 20px;
}


#noti_Container {
    position:relative;     /* This is crucial for the absolutely positioned element */
}

.noti_bubble {
    position:absolute;    /* This breaks the div from the normal HTML document. */
    top: 3px;
    right:8px;
    padd
    padding:1px 3px 1px 3px;
    background-color:red; /* you could use a background image if you'd like as well */
    color:white;
    font-weight:bold;
    font-size:0.80em;
    /* The following is CSS3, but isn't crucial for this technique to work. */
    /* Keep in mind that if a browser doesn't support CSS3, it's fine! They just won't have rounded borders and won't have a box shadow effect. */
    /* You can always use a background image to produce the same effect if you want to, and you can use both together so browsers without CSS3 still have the rounded/shadow look. */
    border-radius:20px;
    box-shadow:1px 1px 1px gray;
}

.green {
    color: rgb(39, 163, 156);
}

.black {
    color: #000;
}

.darkgrey {
    color: darkgrey;
}

.red {
    color: rgb(170, 0, 8);
}

.open> ul>li.hz{
    display: inline-flex !important;
}

.request_list {
    padding-right: 10px;
    padding-left: 20px;
}

.icon_list {
    padding-right: 20px;
    padding-left: 10px;
}

li.hz > a {
    padding: 3px 10px;
}

.unread {
    background-color: rgba(39, 163, 156, 0.3);

}

#footer {
  background-color: rgb(39, 163, 156);
  width: 100%;

  margin-top: 0; 
  height: 85px;
}

#footer > div > div > div > p > a,
#footer > div > div > div  > a
{
    color: #424242;
}

#id_test_location {
    display: none;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  /*margin-bottom: 150px;*/
}

#footer> * {
    color: rgb(240,240,240)
}

.overflow {
    border: 1px solid lightgray;
    width: 100%;
    height: 106px;
    overflow: auto;
}

.friend-list {
    overflow: auto;
    height: 75%;
}

.main-feed, .main-events-going-to, .main-group-list {
    max-height: 300px;
    overflow: auto;
}

.search-results {
    margin-bottom: 85px;
}

.overflow li, .no_bullet, .errors * {
    list-style-type: none;
}


div.event-detail:nth-child(even) {
    background: #EEE;
    border-left: solid 10px #EEE;
    border-right: solid 10px #EEE;
}


div.event-detail:nth-child(odd), a.btn-default.stan {
    background: #FFF;
    background-color: #FFF;
    border-left: solid 10px #FFF;
    border-right: solid 10px #FFF;
}


div.search-results>div.row:nth-child(even) {
    background: #EEE;
    border-left: solid 10px #EEE;
    border-right: solid 10px #EEE;
}


div.search-results>div.row:nth-child(odd) {
    background: #FFF;
    background-color: #FFF;
    border-left: solid 10px #FFF;
    border-right: solid 10px #FFF;
}

.thumb {
    max-width: 150px;
    max-height: 150px;
}

.tiny-thumb {
    max-width: 60px;
    max-height: 60px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
}

.bold {
    font-weight: bolder;
}

.about-col {
    background-color: #27A39C;
    border: 2px solid #424242;
    margin: 2px;
}

span.glyphicon-fullscreen {
    font-size: 3em;
}

div.event-comment {
    padding-left: 10px;
    padding-top: 10px;
  height: 100%;

}

div#comments {
    padding: 10px;
}

div.comment:nth-child(even) {
    background: #EEE;
    border-top:1px solid rgba(255,255,255, 0.2);
    border-bottom:1px solid rgba(255,255,255, 0.2);
}
div.comment:nth-child(odd) {
    background: #FFF;

    border-top:1px solid rgba(100,100,100, 0.2);
    border-bottom:1px solid rgba(100,100,100, 0.2);
}


div.reply-target {
  background: rgba(39, 163, 156, 0.3);
  height: 100%;
  width: 100%;
}


.event-comment-reply {
    padding-left: 60px;
    padding-top: 10px;
    height: 100%;
    
}

.navbar-li {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333333;
    white-space: nowrap;
}

a.tooltipped:hover {
    text-decoration: none;
}

a.no-underline:hover {
    text-decoration: none;
}

 #sidebar.affix-top {
    position: static;
    margin-top:30px;
    width:228px;
  }

@media (min-width: 992px) {
  #sidebar.affix-events {
    position: fixed;
    right: 200px;
    top: 50px;
    width:228px;
  }

  #sidebar.affix-group {
    position: fixed;
    right: 200px;
    top: 185px;
    width:340px;
  }
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.1);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.clickable-div { 
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;

  /* edit: added z-index */
  z-index: 1;
} 
.clickable-div:hover {
    background-color: rgba(120, 120, 120, 0.3);
    text-decoration: none;

}